html {
  &.site-search-opened {
    position: fixed;
    right: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
  }
}

body {
  margin: 0;
  font-weight: 400;
  color: $color-body;
}

.voog-bg-picker-btn:not(.edy-bgpicker-toggle-button) {
  display: none;
}

.float-right {
  float: right;
}

.wrap {
  margin-right: auto;
  margin-left: auto;

  .site-container & {
    padding: 0 20px;

    @media screen and (max-width: $mobile) {
      padding: 0;
    }
  }

  .page-content {
    background: $bg-color;
  }
}

.content-inner {
  @include clearfix;
  padding: 80px;

  @media screen and (max-width: $tablet) {
    padding: 40px;
  }

  @media screen and (max-width: $tablet-1) {
    padding: 40px 25px;
  }
}

.article-header {
  padding-bottom: 20px;
  text-align: center;

  .article-title {
    padding: 0;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 1.2;
    color: rgba($color-highlight, 1);

    a {
      border-bottom: 0;
    }
  }
}

.article-info {
  font-size: 13px;
  color: $color-light;
  text-transform: uppercase;
}

.svg-spritesheet {
  display: none;
}
