// CMS DEFAULT STYLES OVERRIDES
.scheme-light {
  .edy-empty-bordered {
    color: rgba($color-white, .5);
    border-color: rgba($color-white, .5);
  }

  .placeholder {
    color: rgba($color-white, .5);
  }

  .edy-content-element-hover {
    border-color: rgba($color-white, .2);
  }

  .edy-texteditor-active {
    outline-color: rgba($color-white, .4);

    &:hover {
      outline-color: rgba($color-white, .63);
    }
  }
}

.edy-tb-iconbtn {
  border-bottom: 0 !important; // scss-lint:disable ImportantRule
}

// Slider
.edys-gallery-slider {
  .edys-gallery-slider-next,
  .edys-gallery-slider-prev {
    .editmode &,
    .publicmode & {
      width: 15px;
      height: 29px;
      opacity: 1;
    }
  }
}

.edys-gallery-area.edys-gallery-slider {
  .edys-gallery-slider-prev {
    left: 25px;
    background: url('../assets/ico-prev.svg') center center no-repeat;
  }

  .edys-gallery-slider-next {
    right: 25px;
    background: url('../assets/ico-next.svg') center center no-repeat;
  }
}

.front-page .edys-gallery-slider-item::after {
  content: attr(data-title);
}

.front-page .edys-gallery-slider-item[data-title]::after {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  max-width: 100%;
  padding: 15px 18px;
  font-size: 18px;
  line-height: 1;
  color: $color-body;
  background: $color-white;
}

// Tags
.edy-tageditor {
  .edy-tag-suggestions {
    .edy-tag-suggestion {
      padding: 4px 10px;
      border-bottom: 1px solid $color-grey1;
    }
  }
}

// scss-lint:disable SelectorFormat
.pswp__caption__center {
  font-family: $font-main !important; // scss-lint:disable ImportantRule
  font-weight: 400;
}
// scss-lint:enable SelectorFormat

// Front page content area gallery slider whitespace
.feature-section .edy-content-element {
  border: 0;
}

// Mobile menu, '+Add' button background color-white
.mobile-menu {
  .edy-cbtn>span::before,
  .edy-cbtn>div::before {
    background: $color-body !important; // scss-lint:disable ImportantRule
  }
}


.content-area {
  ul,
  ol,
  dl {
    text-align: left !important; // scss-lint:disable ImportantRule

    li {
      text-align: left !important; // scss-lint:disable ImportantRule

      // scss-lint:disable NestingDepth, SelectorDepth
      div {
        text-align: left !important; // scss-lint:disable ImportantRule
      }
      // scss-lint:enable NestingDepth, SelectorDepth
    }
  }
}
