// GENERAL SETTINGS FOR MENUS
.menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;

  .menu-main & {
    font-size: 13px; text-transform: uppercase;
  }

  li {

    a {
      color: $color-light;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 3px;
      padding-right: 3px;
    }
    &:hover {
      a {
        color: $color-black;
      }
    }

    &.current {
      a {
        color: $color-black;
      }
    }
  }
}

.menu-horizontal {

  display: inline-block;

  &.menu-cms {
    @media screen and (min-width: $mobile + 1) {
      margin-left: 10px;
    }
    li {
      @media screen and (min-width: $mobile + 1) {
        margin-right: 10px;
      }
    }
  }

  li {
    @media screen and (min-width: $mobile + 1) {
      display: inline-block;
      margin-right: 10px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.menu-popover {
  position: absolute;
  display: none;
  background-color: rgba($color-white, 1);
  box-shadow: 0 0 5px rgba($color-black, .3);
}

.menu-options {
  button {
    @include button;
  }
}

.menu-main {
  display: inline-block;
}


.menu-sub {
  text-align: center;
  padding: 80px 80px 0;
  margin: 0;
  display: block;

  .menu-cms {
    margin-left: 15px;
  }

  li {
    font-size: 20px;
    vertical-align: middle;
    margin-right: 15px;
  }

  a {
    vertical-align: middle;
    border-bottom: 0;
    color:#898989;
    padding: 5px 3px;
    &:hover { color:#000;}
  }

  .selected {
    color:#000;
  }

}

/* Untranslated menu items */
li a.untranslated {
    color: rgba(161, 155, 75,.7);
}
