// =============================================================================
// TEMPLATE CUSTOM STYLES.
// This file sets the configuration for design editor tool.
//
// This file will be converted to CSS, copied under "/components" and renamed to
// "*.tpl".
//
// The output component can be included in any "layout" or "component".
// =============================================================================

// =============================================================================
// Modules
// =============================================================================
@import '../../stylesheets/modules/variables';

// =============================================================================
// Design editor configuration.
// =============================================================================
:root {
  // scss-lint:disable Comment, Indentation

     /* VoogStyle
       "pathI18n": ["main_styles"],
       "titleI18n": "maximum_width",
       "editor": "rangePicker",
       "min": 700,
       "max": 2000,
       "step": 1,
       "unit": "px",
       "scope": "global"
      */
     --wrap-max-width: 1000px;

     /* VoogStyle
      "pathI18n": ["main_styles"],
      "titleI18n": "font",
      "editor": "listPicker",
      "list": {{ base_font_set }},
      "featured": true,
      "scope": "global"
    */
    --main-font-family: $font-main;

    /* VoogStyle
      "pathI18n": ["main_styles", "colors"],
      "titleI18n": "primary_color",
      "editor": "colorPicker",
      "featured": true,
      "scope": "global",
      "boundVariables": [
        "--content-body-color",
        "--content-link-color",
        "--product-list-box-color",
        "--form-field-color",
        "--content-button-color",
        "--content-button-hover-color"
      ]
    */
    --main-color: rgba($color-black, .8);

    /* VoogStyle
      "pathI18n": ["main_styles", "colors"],
      "titleI18n": "secondary_color",
      "editor": "colorPicker",
      "featured": true,
      "scope": "global",
      "boundVariables": [
        "--menu-main-color",
        "--menu-main-hover-color",
        "--menu-main-active-color",
        "--menu-sub-color",
        "--menu-sub-hover-color",
        "--menu-sub-active-color"
      ]
    */
    --secondary-color: $color-black;

    /* VoogStyle
      "pathI18n": ["main_styles", "colors"],
      "titleI18n": "third_color",
      "editor": "colorPicker",
      "featured": true,
      "scope": "global",
      "boundVariables": [
        "--menu-main-background-color",
        "--submenu-link-background-color",
        "--content-link-hover-color"
      ]
    */
    --third-color: $color-link-hightlight;

    /* VoogStyle
      "pathI18n": ["main_styles", "colors"],
      "titleI18n": "background_color",
      "editor": "colorPicker",
      "featured": true,
      "scope": "global"
    */
    --body-background-color: $color-white;
  // scss-lint:enable Comment, Indentation
}
