// =============================================================================
// TEMPLATE CUSTOM STYLES.
// This file sets the configuration for design editor tool.
//
// This file will be converted to CSS, copied under "/components" and renamed to
// "*.tpl".
//
// The output component can be included in any "layout" or "component".
// =============================================================================

// =============================================================================
// Modules
// =============================================================================
@import '../../stylesheets/modules/variables';

// =============================================================================
// Default stylesheet override styles.
// =============================================================================

// =============================================================================
// GENERAL
// =============================================================================
// Base
.wrap {
  .site-container & {
    max-width: var(--wrap-max-width);
  }
}

body {
  font-family: var(--main-font-family);
}

// Menus

.mobile-menu {
  font-family: var(--main-font-family);
}

.menu:not(.menu-vertical) {
  li {
    font-size: var(--menu-main-font-size);

    a {
      // scss-lint:disable NestingDepth
      &:hover {
        color: var(--menu-main-hover-color);
        background: var(--content-background-color);
      }
      // scss-lint:enable NestingDepth
    }
  }
}

.menu-main {
  li {
    a {
      color: var(--menu-main-color);
    }

    &.selected {
      // scss-lint:disable NestingDepth
      a {
        color: var(--menu-main-active-color);
      }
      // scss-lint:enable NestingDepth
    }
  }
}

.menu-horizontal {
  &.menu-sub {
    li {
      font-size: var(--menu-sub-font-size);

      // scss-lint:disable NestingDepth
      a {
        color: var(--menu-sub-color);

        &:hover {
          color: var(--menu-sub-hover-color);
          background: var(--submenu-link-background-color);
        }

        &.current {
          color: var(--menu-sub-active-color);
        }
      }
      // scss-lint:enable NestingDepth
    }
  }
}

// CMS overrides
// scss-lint:disable SelectorFormat
.pswp__caption__center {
  font-family: var(--main-font-family);
}
// scss-lint:enable SelectorFormat


//==============================================================================
// LAYOUTS
//==============================================================================
// Blog and news
.blog-and-news-page {
  .articles-listing {
    .article-title {
      font-family: var(--main-font-family);
    }
  }
}

//==============================================================================
// CONTENT AREAS
//==============================================================================
// Text
.content-area {
  &.introtext,
  &.introtext h1,
  &.introtext h2,
  &.introtext h3 {
    font-family: var(--main-font-family);
  }

  a {
    border-bottom: 5px solid var(--content-link-color);

    &:hover {
      background: var(--content-link-color);
    }
  }
}

// Form
// scss-lint:disable SelectorFormat
.form_submit {
  input {
    font-family: var(--main-font-family);
  }
}
// scss-lint:enable SelectorFormat
