.article-comments {
  padding: 0 80px 80px;

  .comments-title {
    font-size: 20px;
  }

  .comment {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .comment-author {
    font-family: $font-heavy;
    font-weight: 700;
  }

  .comment-date,
  .comment-author {
    font-size: 14px;
    font-style: italic;
  }

  @media screen and (max-width: $tablet) {
    padding: 25px;
  }
}
