.site-footer {
  b,
  strong {
    color: $color-black;
  }

  .inner {
    padding: 90px 125px 80px;

    @media screen and (max-width: $tablet-1) {
      padding: 40px 25px;
    }
  }

  .voog-reference {
    padding: 0 0 40px;
    color: rgba($color-black, 1);
    text-align: center;
    opacity: .55;

    &:hover {
      opacity: .8;
    }
  }
}
