.site-footer {
  b,
  strong {
    color: $color-black;
  }

  .inner {
    padding: 90px 40px;

    @media screen and (max-width: $tablet-0) {
      padding: 40px 20px;
    }
  }

  .voog-reference {
    padding: 0 0 40px;
    text-align: center;

    a {
      color: rgba($color-black, 1);
      opacity: .55;
      text-decoration: none;

      &:hover {
        opacity: .8;
      }
    }
  }
}
