.site-header {
  padding: 18px 25px 75px;

  .header-top {
    padding-bottom: 65px;
    text-align: center;

    .site-options {
      margin-left: 10px;
      display: inline-block;

      @media screen and (max-width: $tablet-1) {
        display: none;
      }
    }
  }

  .slogan {
    margin-top: 5px;
  }

  @media screen and (max-width: $tablet-1) {
    & .header-top {
      padding: 15px 0 25px;
      margin-bottom: 30px;
    }
  }
  
}
