html.site-search-opened {
  position: fixed;
  right: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-weight: 400;
  color: #333;
}

.voog-bg-picker-btn:not(.edy-bgpicker-toggle-button) {
  display: none;
}

.float-right {
  float: right;
}

.wrap {
  margin-right: auto;
  margin-left: auto;
}
.site-container .wrap {
  padding: 0 20px;
}
@media screen and (max-width: 640px) {
  .site-container .wrap {
    padding: 0;
  }
}

.content-inner {
  padding: 80px;
}
.content-inner::after {
  clear: both;
  content: "";
  display: table;
}
@media screen and (max-width: 1024px) {
  .content-inner {
    padding: 40px;
  }
}
@media screen and (max-width: 768px) {
  .content-inner {
    padding: 40px 25px;
  }
}

.article-header {
  padding-bottom: 20px;
  text-align: center;
}
.article-header .article-title {
  padding: 0;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 1.2;
  color: #1b2124;
}
.article-header .article-title a {
  border-bottom: 0;
}

.article-info {
  font-size: 13px;
  color: #898989;
  text-transform: uppercase;
}

.svg-spritesheet {
  display: none;
}

.menu-popover {
  position: absolute;
  display: none;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.menu-options button {
  margin: 0;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}
.menu-options button:focus {
  outline: none;
}
.menu-options button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

.menu-horizontal.menu-cms {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
}
@media screen and (min-width: 641px) {
  .menu-horizontal.menu-cms {
    margin-left: 10px;
  }
}
@media screen and (min-width: 641px) {
  .menu-horizontal.menu-cms li {
    margin-right: 10px;
  }
}

.menu {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.site-header .menu {
  display: inline-block;
}
.menu li {
  line-height: 1;
  text-transform: uppercase;
}
.menu li.is-hidden {
  display: none;
}
.menu li a {
  padding-top: 5px;
  padding-right: 3px;
  padding-bottom: 5px;
  padding-left: 3px;
}
.menu li a:hover {
  display: block;
}
.menu li a.untranslated {
  color: rgba(161, 155, 75, 0.7);
}
.menu.menu-vertical.padding {
  padding-top: 5px;
  padding-bottom: 5px;
}
.menu.menu-vertical li.selected a {
  color: #000;
}

.menu-main {
  display: inline-block;
  vertical-align: middle;
}
.menu-main .menu.menu-horizontal li.selected a {
  background: transparent;
}
.menu-main li a {
  display: block;
  text-decoration: none;
  opacity: .6;
}
.menu-main li a:hover {
  opacity: 1;
}
.menu-main li a.untranslated {
  color: #a19b4b;
}
.menu-main li.selected a {
  opacity: 1;
}
@media screen and (min-width: 641px) {
  .menu-main li {
    display: inline-block;
    margin-right: 10px;
  }
}
@media screen and (max-width: 768px) {
  .menu-main {
    display: none;
  }
}

.menu-horizontal.menu-sub {
  padding: 80px 80px 0;
  margin: 0;
  text-align: center;
}
.menu-horizontal.menu-sub li {
  margin-right: 18px;
  letter-spacing: .2px;
  vertical-align: middle;
}
.menu-horizontal.menu-sub li:last-child {
  margin-right: 0;
}
.menu-horizontal.menu-sub li a {
  vertical-align: middle;
  border-bottom: 0;
  opacity: .5;
}
@media screen and (max-width: 768px) {
  .menu-horizontal.menu-sub li a {
    display: block;
    padding: 11px 13px;
  }
}
@media screen and (min-width: 769px) {
  .menu-horizontal.menu-sub li a {
    padding: 5px 3px;
  }
}
.menu-horizontal.menu-sub li a:hover {
  opacity: 1;
}
.menu-horizontal.menu-sub li a.active {
  color: #000;
  opacity: 1;
}
.menu-horizontal.menu-sub li a.current {
  opacity: 1;
}
.menu-horizontal.menu-sub li a.untranslated {
  color: #a19b4b;
}
@media screen and (min-width: 641px) {
  .menu-horizontal.menu-sub li {
    display: inline-block;
    margin-right: 10px;
  }
}
@media screen and (max-width: 768px) {
  .menu-horizontal.menu-sub li {
    display: block;
    margin: 0;
    font-size: 18px !important;
    border-bottom: 1px solid #cacaca;
  }
}
.menu-horizontal.menu-sub .menu-item-cms {
  margin-left: 0;
}
@media screen and (max-width: 768px) {
  .menu-horizontal.menu-sub .menu-item-cms {
    padding: 11px 13px 10px;
  }
}
@media screen and (max-width: 1024px) {
  .menu-horizontal.menu-sub {
    padding: 40px 40px 0;
  }
}
@media screen and (max-width: 768px) {
  .menu-horizontal.menu-sub {
    padding: 25px 25px 0;
    text-align: left;
  }
}

.menu-item-list {
  padding-top: 40px;
  padding-right: 25px;
  padding-left: 25px;
}
.editmode .menu-item-list {
  padding-bottom: 40px;
}
.menu-item-list .menu-item {
  display: inline-block;
}
.menu-item-list .menu-item:not(.current):hover {
  opacity: .8;
}
.menu-item-list .menu-item.selected {
  font-weight: 400;
}
.menu-item-list .menu-item.current {
  font-weight: 500;
}
.menu-item-list .menu-item.current a {
  color: #000;
}
.menu-item-list .menu-item a {
  display: block;
  color: #898989;
  text-decoration: none;
}

.menu-item-cms {
  margin-left: 15px;
}
.menu-item-cms:first-child {
  margin-left: 0;
}
.menu-item-cms.float-right {
  float: right;
  font-size: 17px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: none;
  overflow: auto;
  font-weight: 400;
  background-color: #000;
  -webkit-overflow-scrolling: touch;
}
.mobile-menu.flags-disabled .language-menu-btn {
  position: absolute;
  top: 18px;
  left: 15px;
  display: inline-block;
  width: auto;
  height: auto;
  padding: 11px 9px 17px;
  color: #fff;
  text-decoration: none;
  vertical-align: top;
}
.mobile-menu .navigation-menu,
.mobile-menu .language-menu {
  display: table;
  width: 100%;
  height: 100%;
  word-break: break-all;
}
.mobile-menu .navigation-menu ul,
.mobile-menu .language-menu ul {
  display: table-cell;
  height: 100%;
  padding: 50px 30px;
  text-align: center;
  vertical-align: middle;
  list-style-type: none;
}
.mobile-menu .navigation-menu ul li,
.mobile-menu .language-menu ul li {
  display: block;
  padding: 15px 0;
  margin: 0;
}
.mobile-menu .navigation-menu ul li a,
.mobile-menu .language-menu ul li a {
  padding: 5px 3px;
  font-size: 24px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
.mobile-menu .navigation-menu ul li a:hover,
.mobile-menu .language-menu ul li a:hover {
  color: #333;
  background: rgba(255, 240, 127, 0.9);
}
.mobile-menu .language-menu {
  display: none;
}
.mobile-menu .language-menu ul li a.active {
  color: #fff;
}
.mobile-menu .navigation-menu ul li.is-hidden {
  display: none;
}
.mobile-menu .navigation-menu ul li.current a {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .mobilemenu-open .mobile-menu {
    display: block;
  }
}
.mobile-menu .mobile-menu-close {
  position: absolute;
  top: 18px;
  right: 15px;
  display: block;
  width: 42px;
  height: 42px;
  outline: 0;
}
.mobile-menu .mobile-menu-close::before, .mobile-menu .mobile-menu-close::after {
  position: absolute;
  top: 19px;
  left: 12px;
  display: block;
  width: 20px;
  height: 3px;
  background: #fff;
  content: '';
}
.mobile-menu .mobile-menu-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.mobile-menu .mobile-menu-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
  .mobilemenu-open,
  .mobilesearch-open {
    position: fixed;
    width: 100%;
    overflow: hidden;
  }
  .mobilemenu-open .wrap,
  .mobilesearch-open .wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.mobile-menu-toggler {
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
  width: 22px;
  height: 17px;
  padding: 7px 5px 7px 4px;
}
.mobile-menu-toggler span, .mobile-menu-toggler span::before, .mobile-menu-toggler span::after {
  position: absolute;
  top: 8px;
  right: 5px;
  display: block;
  width: 20px;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.87);
  border-radius: 5px;
  content: '';
}
.mobile-menu-toggler:hover {
  opacity: .7;
}
.mobile-menu-toggler span::before {
  top: 6px;
  left: 0;
}
.mobile-menu-toggler span::after {
  top: 12px;
  left: 0;
}
@media screen and (max-width: 768px) {
  .mobile-menu-toggler {
    display: block;
  }
}

.mobilemenu-open .mobile-menu .language-menu {
  display: none;
}
.mobilemenu-open .mobile-menu .navigation-menu {
  display: table;
}
.mobilemenu-open.language-menu-open .language-menu {
  display: table;
}
.mobilemenu-open.language-menu-open .navigation-menu {
  display: none;
}

.scheme-light .edy-empty-bordered {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
}
.scheme-light .placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.scheme-light .edy-content-element-hover {
  border-color: rgba(255, 255, 255, 0.2);
}
.scheme-light .edy-texteditor-active {
  outline-color: rgba(255, 255, 255, 0.4);
}
.scheme-light .edy-texteditor-active:hover {
  outline-color: rgba(255, 255, 255, 0.63);
}

.edy-tb-iconbtn {
  border-bottom: 0 !important;
}

.editmode .edys-gallery-slider .edys-gallery-slider-next, .publicmode .edys-gallery-slider .edys-gallery-slider-next, .editmode
.edys-gallery-slider .edys-gallery-slider-prev, .publicmode
.edys-gallery-slider .edys-gallery-slider-prev {
  width: 15px;
  height: 29px;
  opacity: 1;
}

.edys-gallery-area.edys-gallery-slider .edys-gallery-slider-prev {
  left: 25px;
  background: url("../assets/ico-prev.svg") center center no-repeat;
}
.edys-gallery-area.edys-gallery-slider .edys-gallery-slider-next {
  right: 25px;
  background: url("../assets/ico-next.svg") center center no-repeat;
}

.front-page .edys-gallery-slider-item::after {
  content: attr(data-title);
}

.front-page .edys-gallery-slider-item[data-title]::after {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  max-width: 100%;
  padding: 15px 18px;
  font-size: 18px;
  line-height: 1;
  color: #333;
  background: #fff;
}

.edy-tageditor .edy-tag-suggestions .edy-tag-suggestion {
  padding: 4px 10px;
  border-bottom: 1px solid #cacaca;
}

.pswp__caption__center {
  font-weight: 400;
}

.mobile-menu .edy-cbtn > span::before,
.mobile-menu .edy-cbtn > div::before {
  background: #333 !important;
}

.content-inner ul,
.content-inner ol,
.content-inner dl {
  text-align: left !important;
}
.content-inner ul li,
.content-inner ol li,
.content-inner dl li {
  text-align: left !important;
}
.content-inner ul li div,
.content-inner ol li div,
.content-inner dl li div {
  text-align: left !important;
}

.site-header {
  padding: 18px 25px 75px;
}
.site-header .header-top {
  padding-bottom: 65px;
  text-align: center;
}
.site-header .header-top .site-options {
  display: inline-block;
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  .site-header .header-top .site-options {
    display: none;
  }
}
.site-header .slogan {
  margin-top: 5px;
}
@media screen and (max-width: 768px) {
  .site-header .header-top {
    padding: 15px 0 25px;
    margin-bottom: 30px;
  }
}

.site-search-btn {
  margin: 0;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0 0 0 8px;
  vertical-align: middle;
  background-color: transparent;
}
.site-search-btn:focus {
  outline: none;
}
.site-search-btn::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
@media screen and (max-width: 768px) {
  .site-search-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 33px;
    height: 43px;
    padding: 0 10px 0 0;
    margin: 0;
  }
}

.site-search {
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  position: fixed;
  top: 0;
  right: -280px;
  bottom: 0;
  z-index: 9999;
  width: 280px;
  background-color: white;
}
.site-search-opened .site-search {
  -webkit-transform: translate3d(-280px, 0, 0);
  -ms-transform: translate3d(-280px, 0, 0);
  transform: translate3d(-280px, 0, 0);
  background: #fff;
  box-shadow: -9px 0 9px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 641px) {
  .site-search-opened .site-search {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
}
@media screen and (max-width: 400px) {
  .site-search {
    width: 200px;
  }
}
.site-search .search-form {
  height: 56px;
  border-bottom: 1px solid #e5e5e5;
}
.site-search .search-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  display: block;
  width: 100%;
  height: 56px;
  padding: 0 62px 0 30px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 13px;
  border: 0;
}
.site-search .search-input::-webkit-input-placeholder {
  font-weight: 400;
}
.site-search .search-input::-moz-placeholder {
  font-weight: 400;
}
.site-search .search-input:-moz-placeholder {
  font-weight: 400;
}
.site-search .search-input:-ms-input-placeholder {
  font-weight: 400;
}
.site-search .search-input::-webkit-search-decoration, .site-search .search-input::-webkit-search-cancel-button, .site-search .search-input::-webkit-search-results-button, .site-search .search-input::-webkit-search-results-decoration {
  display: none;
}
.site-search .search-input::-ms-clear {
  display: none;
}
.site-search .search-input:focus {
  outline: none;
}
@media screen and (max-width: 640px) {
  .site-search .search-input {
    padding: 0 62px 0 15px;
  }
}
.site-search .search-clear {
  position: absolute;
  top: 10px;
  right: 5px;
  display: none;
  padding: 10px;
  cursor: pointer;
  fill: rgba(0, 0, 0, 0.2);
}
.not-empty .site-search .search-clear {
  display: block;
}
.site-search .search-clear:hover {
  fill: rgba(0, 0, 0, 0.5);
}
.site-search .not-empty .search-clear {
  display: block;
}
.site-search .search-submit {
  position: relative;
  top: -1px;
}
.site-search .voog-search-modal {
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  overflow: auto;
  text-align: left;
  box-shadow: none;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
@media screen and (max-width: 640px) {
  .site-search .voog-search-modal {
    width: 100%;
    height: calc(100% - 57px);
    padding-top: 28px;
  }
}
@media screen and (max-width: 640px) {
  .site-search .voog-search-modal {
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media screen and (min-width: 641px) {
  .site-search .voog-search-modal {
    width: 100%;
    height: calc(100% - 57px);
    padding-top: 28px;
  }
}
.site-search .voog-search-modal .voog-search-modal-result h3 {
  font-size: 19px;
  line-height: 1.3;
}
.site-search .voog-search-modal .voog-search-modal-result h3:first-child {
  margin: 0;
}
@media screen and (max-width: 640px) {
  .site-search .voog-search-modal .voog-search-modal-result h3 {
    font-size: 16px;
  }
}
.site-search .voog-search-modal .voog-search-modal-result h3 a {
  font-weight: 400;
  color: #333333;
  text-decoration: none;
}
.site-search .voog-search-modal .voog-search-modal-result p {
  margin-top: 10px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 19px;
  font-weight: 300;
  line-height: 1.3;
  color: #898989;
}
@media screen and (max-width: 640px) {
  .site-search .voog-search-modal .voog-search-modal-result p {
    font-size: 14px;
  }
}
.site-search .voog-search-modal .voog-search-modal-result em {
  font-style: normal;
  font-weight: 400;
  background-color: #fff07f;
}

.menu-language-btn {
  margin: 0;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  vertical-align: baseline;
}
.menu-language-btn:focus {
  outline: none;
}
.menu-language-btn::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
.language-flags-enabled .menu-language-btn {
  padding: 12px 16px 13px 15px;
  font-size: 0;
  vertical-align: middle;
}
.language-flags-disabled .menu-language-btn {
  height: 24px;
  padding: 0 24px 0 12px;
  margin-right: 0;
  font-family: inherit;
  font-size: 13px;
  text-transform: uppercase;
  border: 1px solid #ccc;
  border-radius: 12px;
}
.language-flags-disabled .menu-language-btn:hover {
  opacity: .8;
}
.language-flags-disabled .menu-language-btn::after {
  position: absolute;
  top: 50%;
  right: 8px;
  display: block;
  width: 0;
  height: 0;
  margin-top: -3px;
  border-color: rgba(0, 0, 0, 0.5) transparent transparent;
  border-style: solid;
  border-width: 6px 5px 0;
  content: '';
}
.menu-language-popover-open .menu-language-btn::after {
  border-color: transparent transparent rgba(0, 0, 0, 0.5);
  border-width: 0 5px 6px;
}
.menu-language-btn::before, .menu-language-btn::after {
  top: 5px;
}
.language-flags-enabled .menu-language-btn::before, .language-flags-enabled .menu-language-btn::after {
  left: 5px;
}
.menu-language-btn:hover::after {
  opacity: .8;
}

.menu-language li a {
  display: block;
  font-size: 14px;
  line-height: 14px;
  color: #898989;
  text-decoration: none;
}
.menu-language li a:hover {
  color: #000;
  background: none;
}
.menu-language li a::before, .menu-language li a::after {
  top: 5px;
  right: 6px;
}
.language-flags-enabled .menu-language li a {
  padding: 7px 33px 6px 6px;
}
.language-flags-enabled .menu-language li a:hover {
  opacity: .8;
}
.language-flags-disabled .menu-language li a {
  padding: 6px 10px;
}
.menu-language li.edit-btn {
  padding: 11px 13px 13px 6px;
}
.menu-language-popover-open .menu-language {
  z-index: 10;
  display: block;
  min-width: 122px;
  text-align: right;
}

.menu-options button {
  display: block;
  width: 100%;
  padding: 6px;
  font-family: inherit;
  font-size: 14px;
  color: #333333;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.1);
}
.menu-options button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.menu-options button span {
  display: block;
}
.language-flags-enabled .menu-options .language-flags-enable {
  display: none;
}
.language-flags-disabled .menu-options .language-flags-disable {
  display: none;
}

.ico-flags {
  position: relative;
  background-color: transparent;
}
.language-flags-enabled .ico-flags::before, .language-flags-enabled .ico-flags::after {
  position: absolute;
  display: block;
  width: 21px;
  height: 15px;
  content: '';
}
.ico-flags::before {
  background-color: black;
}
.language-flags-disabled .ico-flags::before {
  display: none;
}
.ico-flags::after {
  opacity: .95;
}
.language-flags-enabled .ico-flags::after {
  background-image: url("../assets/ico-flags.svg");
}

.ico-flag-sq:after {
  background-position: 0 0;
}

.ico-flag-hy:after {
  background-position: -21px 0;
}

.ico-flag-bn:after {
  background-position: -42px 0;
}

.ico-flag-bg:after {
  background-position: -84px 0;
}

.ico-flag-zh:after {
  background-position: -105px 0;
}

.ico-flag-hr:after {
  background-position: -126px 0;
}

.ico-flag-da:after {
  background-position: -147px 0;
}

.ico-flag-cs:after {
  background-position: -168px 0;
}

.ico-flag-et:after {
  background-position: -189px 0;
}

.ico-flag-fi:after {
  background-position: 0 -15px;
}

.ico-flag-fr:after {
  background-position: -21px -15px;
}

.ico-flag-ka:after {
  background-position: -42px -15px;
}

.ico-flag-de:after {
  background-position: -63px -15px;
}

.ico-flag-el:after {
  background-position: -84px -15px;
}

.ico-flag-hu:after {
  background-position: -105px -15px;
}

.ico-flag-is:after {
  background-position: -126px -15px;
}

.ico-flag-hi:after {
  background-position: -147px -15px;
}

.ico-flag-id:after {
  background-position: -168px -15px;
}

.ico-flag-fa:after {
  background-position: -189px -15px;
}

.ico-flag-he:after {
  background-position: 0 -30px;
}

.ico-flag-it:after {
  background-position: -21px -30px;
}

.ico-flag-ja:after {
  background-position: -42px -30px;
}

.ico-flag-ko:after {
  background-position: -63px -30px;
}

.ico-flag-lv:after {
  background-position: -84px -30px;
}

.ico-flag-lt:after {
  background-position: -105px -30px;
}

.ico-flag-ms:after {
  background-position: -126px -30px;
}

.ico-flag-nl:after {
  background-position: -147px -30px;
}

.ico-flag-no:after {
  background-position: -168px -30px;
}

.ico-flag-ur:after {
  background-position: -189px -30px;
}

.ico-flag-fil:after {
  background-position: 0 -45px;
}

.ico-flag-pl:after {
  background-position: -21px -45px;
}

.ico-flag-ro:after {
  background-position: -42px -45px;
}

.ico-flag-ru:after {
  background-position: -63px -45px;
}

.ico-flag-ar:after {
  background-position: -84px -45px;
}

.ico-flag-sk:after {
  background-position: -105px -45px;
}

.ico-flag-sl:after {
  background-position: -126px -45px;
}

.ico-flag-es:after {
  background-position: -147px -45px;
}

.ico-flag-sv:after {
  background-position: -168px -45px;
}

.ico-flag-tr:after {
  background-position: -189px -45px;
}

.ico-flag-uk:after {
  background-position: 0 -60px;
}

.ico-flag-en:after {
  background-position: -21px -60px;
}

.ico-flag-en-gb:after {
  background-position: -63px -60px;
}

.ico-flag-pt:after {
  background-position: -84px -60px;
}

.ico-flag-sr:after {
  background-position: -126px;
}

.site-footer b,
.site-footer strong {
  color: #000;
}
.site-footer .inner {
  padding: 90px 125px 80px;
}
@media screen and (max-width: 768px) {
  .site-footer .inner {
    padding: 40px 25px;
  }
}
.site-footer .voog-reference {
  padding: 0 0 40px;
  color: black;
  text-align: center;
  opacity: .55;
}
.site-footer .voog-reference:hover {
  opacity: .8;
}

.blog-news-page .blog-tags {
  margin-top: 0;
  margin-bottom: 20px;
}
.blog-news-page .menu-link:hover {
  color: #000;
  background: none;
}

.blog-article-page .blog-tags {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
}
.blog-article-page .blog-tags .tags-editor {
  text-align: left;
}
.blog-article-page .blog-tags .tags-toggle {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.blog-article-page .blog-tags .tags-icon {
  position: absolute;
  top: -3px;
  left: 0;
  font-size: 20px;
  line-height: 1.6;
  fill: rgba(0, 0, 0, 0.7);
}
.blog-article-page .blog-tags .tags-title {
  padding: 0 20px 0 25px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  text-transform: uppercase;
}
.blog-article-page .blog-tags .ico-arrow {
  position: absolute;
  top: 7px;
  right: 0;
  width: 0;
  height: 0;
  border-color: black transparent transparent;
  border-style: solid;
  border-width: 8px 5px 0;
}
.blog-article-page .blog-tags .ico-arrow.active {
  border-color: transparent transparent black;
  border-width: 0 5px 8px;
}
.blog-article-page .blog-tags .tags-bottom {
  display: none;
}
.blog-article-page .blog-tags .tags-bottom.visible {
  display: block;
}
.blog-article-page .blog-tags .menu {
  display: inline-block;
  padding-left: 0;
}
.blog-article-page .blog-tags .menu .menu-item {
  display: inline-block;
  margin-top: 5px;
  line-height: 1;
  vertical-align: top;
}
.blog-article-page .blog-tags .menu .menu-item::before {
  display: none;
}
.blog-article-page .blog-tags .menu .menu-link {
  padding: 2px 5px;
  font-size: 12px;
  line-height: 16px;
  color: white;
  text-decoration: none;
  background-color: #a4a4a4;
  border-bottom: 0;
  border-radius: 3px;
}
.blog-article-page .blog-tags .menu .menu-link:hover {
  color: #000;
  background: #eee077;
  opacity: .7;
}
.blog-article-page .blog-tags .menu .menu-link.active {
  color: white;
  background-color: #a4a4a4;
}

.article-comments {
  padding: 0 80px 80px;
}
.article-comments .comments-title {
  font-size: 20px;
}
.article-comments .comment {
  margin-bottom: 10px;
  font-size: 16px;
}
.article-comments .comment-date,
.article-comments .comment-author {
  font-size: 14px;
  font-style: italic;
}
@media screen and (max-width: 1024px) {
  .article-comments {
    padding: 25px;
  }
}

.content-item-boxes {
  padding-right: 5px;
  padding-left: 5px;
  font-size: 0;
}

.content-item-box {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}
.item-list-page .content-item-box {
  padding-top: 15px;
  padding-bottom: 15px;
  box-sizing: border-box;
}
@media screen and (max-width: 240px) {
  .item-list-page .content-item-box {
    display: block;
  }
}
@media screen and (min-width: 241px) {
  .item-list-page .content-item-box {
    display: inline-block;
    vertical-align: top;
  }
}
@media screen and (min-width: 241px) and (max-width: 640px) {
  .item-list-page .content-item-box {
    width: 50%;
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media screen and (min-width: 641px) {
  .item-list-page .content-item-box {
    min-width: 197px;
    padding-right: 2%;
    padding-left: 2%;
  }
}
.content-illustrations .content-item-box {
  margin-bottom: 40px;
}
.content-item-box .top-inner {
  opacity: 1;
}
@media screen and (min-width: 241px) and (max-width: 640px) {
  .content-item-box:nth-child(odd) {
    padding-right: 10px;
  }
}
@media screen and (min-width: 241px) and (max-width: 640px) {
  .content-item-box:nth-child(even) {
    padding-left: 10px;
  }
}
.editmode .content-item-box:hover .top-inner, .item-list-page .content-item-box:hover .top-inner {
  opacity: .8;
}

.content-items {
  padding-right: 20px;
  padding-left: 20px;
}
@media screen and (max-width: 640px) {
  .content-items {
    margin-top: 30px;
  }
}
@media screen and (min-width: 641px) {
  .content-items {
    margin-top: 100px;
  }
}

.content-item {
  margin-bottom: 15px;
}

.item-top {
  position: relative;
}
.item-top::before {
  display: block;
  width: 100%;
  padding-top: 100%;
  content: '';
}
.item-top > .aspect-ratio-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.item-top:hover .btn {
  opacity: 1;
}
.item-top .btn {
  padding: 0;
  background-color: rgba(0, 102, 187, 0.3);
  border: 0;
  opacity: 0;
  transition: background-color .5s, opacity .5s;
}
.item-top .btn:hover {
  background-color: #0066bb;
}
.item-top .bg-picker-btn {
  top: 0;
  left: 0;
}
.item-top .bg-crop-btn {
  height: 45px;
  width: 45px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 100%;
  fill: white;
}
.item-top .bg-crop-btn.is-visible {
  display: block;
}
.item-top .bg-crop-btn.is-hidden {
  display: none;
}
.item-top .top-inner {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
}
.publicmode .item-top .top-inner {
  overflow: hidden;
}
.publicmode .item-top .top-inner .image-landscape.not-cropped {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.publicmode .item-top .top-inner .image-landscape.is-cropped {
  width: auto;
  height: 100%;
}
.publicmode .item-top .top-inner .image-portrait.not-cropped {
  width: auto;
  height: 100%;
  max-height: 100%;
}
.publicmode .item-top .top-inner .image-portrait.is-cropped {
  width: 100%;
  height: auto;
}
.publicmode .item-top .top-inner .image-square {
  width: 100%;
  height: auto;
}
.with-image .item-top .top-inner {
  background-color: white;
}
.without-image .item-top .top-inner {
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 1px;
}
@media screen and (max-width: 240px) {
  .item-top .top-inner {
    font-size: 16px;
  }
}
@media screen and (min-width: 241px) {
  .item-top .top-inner {
    font-size: 13px;
  }
}
@media screen and (min-width: 291px) {
  .item-top .top-inner {
    font-size: 16px;
  }
}
@media screen and (min-width: 341px) {
  .item-top .top-inner {
    font-size: 20px;
  }
}
@media screen and (min-width: 1025px) {
  .item-top .top-inner {
    font-size: 30px;
  }
}
.item-top .image-drop-area {
  background-position: center !important;
  background-repeat: no-repeat;
}
.item-top .image-drop-area.not-cropped {
  background-size: contain;
}
.item-top .image-drop-area:not(.active) {
  border-color: rgba(0, 0, 0, 0.4);
  border-style: dashed;
  border-width: 1px;
}
.item-top .image-drop-area:not(.active):hover {
  border-style: solid;
}
@media screen and (max-width: 640px) {
  .item-top .image-drop-area .edy-img-drop-area-placeholder {
    font-size: 13px;
  }
}
@media screen and (min-width: 641px) {
  .item-top .image-drop-area .edy-img-drop-area-placeholder {
    font-size: 18px;
  }
}

.item-image {
  border: 0;
}
.publicmode .item-image.is-cropped {
  position: absolute;
  top: -100%;
  right: -100%;
  bottom: -100%;
  left: -100%;
  max-width: none;
  margin: auto;
}
.item-list-page .item-image {
  display: block;
}

.item-placeholder {
  width: 100%;
  padding: .5em;
  box-sizing: border-box;
}

.item-title {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
.item-title .item-link {
  color: inherit;
}
.content-item-box .item-title .item-link {
  display: block;
}
.item-list-page .item-title {
  font-weight: 400;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-resolution: 120dpi) {
  .item-list-page .item-title {
    font-weight: 100;
  }
}
@media screen and (max-width: 640px) {
  .content-item-box .item-title {
    font-size: 13px;
  }
}
@media screen and (max-width: 640px) {
  .content-item .item-title {
    font-size: 18px;
  }
}
@media screen and (min-width: 641px) {
  .content-item .item-title {
    font-size: 30px;
  }
}
@media screen and (max-width: 640px) {
  .blog-article-page .item-title {
    font-size: 32px;
  }
}
@media screen and (min-width: 641px) {
  .blog-article-page .item-title {
    font-size: 50px;
  }
}
.content-item-box > .item-title {
  margin-top: 20px;
  margin-bottom: 5px;
}

.content-illustrations {
  font-size: 0;
}
.content-illustrations .content-item-box {
  padding-right: 0;
}
@media screen and (min-width: 641px) {
  .content-illustrations {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 520px;
    margin-right: 40px;
  }
}

.content-item-title {
  text-align: left;
}

@media screen and (max-width: 640px) {
  .item-page .content-body-inner {
    padding-top: 40px;
  }
}
@media screen and (min-width: 641px) {
  .item-page .content-body-inner {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.items-body {
  padding-top: 40px;
}
@media screen and (min-width: 641px) {
  .items-body {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.blog-and-news-page .blog-article {
  padding-top: 40px;
}
.blog-and-news-page .blog-article:first-child {
  padding-top: 0;
}
.blog-and-news-page .article-title {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}
.blog-and-news-page .article-date {
  margin-top: 8px;
  font-size: 13px;
  color: #898989;
  text-transform: uppercase;
}
.blog-and-news-page .articles-listing {
  text-align: center;
}
.blog-and-news-page .articles-listing .blog-article {
  padding-top: 20px;
}
.blog-and-news-page .articles-listing .older-post {
  padding: 1px 80px 80px;
}
@media screen and (max-width: 1024px) {
  .blog-and-news-page .articles-listing .older-post.older-post {
    padding: 10px 40px 40px;
  }
}
@media screen and (max-width: 768px) {
  .blog-and-news-page .articles-listing .older-post {
    padding: 40px 25px;
  }
  .blog-and-news-page .articles-listing .older-post.older-post {
    padding: 40px 25px;
  }
}
.blog-and-news-page .articles-listing .articles-listing-header {
  padding: 40px 0 15px;
  border-top: 1px solid #cacaca;
}
.blog-and-news-page .articles-listing .content-inner a {
  border-bottom: 0;
}
.blog-and-news-page .articles-listing .article-title {
  font-size: 18px;
  font-weight: 400;
}
@media screen and (max-width: 480px) {
  .blog-and-news-page .articles-listing {
    margin: 0;
  }
  .blog-and-news-page .articles-listing .blog-article:last-child {
    margin-bottom: 0;
  }
  .blog-and-news-page .articles-listing .blog-article .article-date {
    position: static;
  }
  .blog-and-news-page .articles-listing .blog-article .article-title {
    margin: 0;
  }
}
.blog-and-news-page .articles-listing .article-date {
  margin: 0;
  color: #898989;
}

.blog-article-page .article-header {
  padding-bottom: 25px;
}
.blog-article-page .article-excerpt.content-area {
  padding-bottom: 15px;
}
.blog-article-page .blog-article {
  padding-bottom: 0;
}

.post-nav::before {
  display: block;
  margin-top: 33px;
  border-top: 1px solid currentColor;
  content: '';
  opacity: .2;
}

@media screen and (min-width: 480px) {
  .post-nav-inner {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
.post-nav-link {
  position: relative;
  display: block;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 33px;
  color: currentColor;
}
.post-nav-link .post-nav-direction {
  font-size: 12px;
  text-transform: uppercase;
  opacity: .5;
}
.post-nav-link .post-nav-title {
  font-size: 20px;
  opacity: .7;
}
.post-nav-link.post-nav-link-half {
  position: relative;
  display: block;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 33px;
  color: currentColor;
  border-bottom: 0;
}
.post-nav-link.post-nav-link-half:hover {
  background: none;
  opacity: 1;
}
@media screen and (min-width: 480px) {
  .post-nav-link.post-nav-link-half:first-child {
    padding-right: 20px;
  }
}
@media screen and (max-width: 480px) {
  .post-nav-link.post-nav-link-half:first-child {
    padding-bottom: 33px;
  }
}
@media screen and (max-width: 480px) {
  .post-nav-link.post-nav-link-half:first-child::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    border-bottom: 1px solid currentColor;
    content: '';
    opacity: .2;
  }
}
@media screen and (min-width: 480px) {
  .post-nav-link.post-nav-link-half:last-child {
    padding-left: 20px;
    text-align: right;
  }
}
@media screen and (max-width: 480px) {
  .post-nav-link.post-nav-link-half {
    text-align: center;
  }
}
.post-nav-link.post-nav-link-full {
  text-align: center;
  border: 0;
}
.post-nav-link.post-nav-link-full:hover {
  background: none;
  opacity: 1;
}

.sections {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.feature-section,
.search,
.sections {
  position: relative;
}

.feature-section {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  float: left;
  width: 50%;
  min-width: 200px;
  min-height: 200px;
  box-sizing: border-box;
  transition: padding 500ms;
}
.feature-section.section-with-padding {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px;
  transition: padding 500ms;
}
@media screen and (max-width: 960px) {
  .feature-section.section-with-padding {
    padding: 20px;
  }
}
@media screen and (max-width: 960px) {
  .public .feature-section {
    -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}
@media screen and (max-width: 960px) {
  .feature-section {
    width: 50%;
  }
}
@media screen and (max-width: 640px) {
  .feature-section {
    width: 100%;
    min-height: 400px;
  }
}
.feature-section .voog-bg-picker-btn {
  top: 0;
  left: 0;
  z-index: 999;
}
.feature-section .feature-content {
  position: relative;
  width: 100%;
}
.feature-section .voog-padding-switcher {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  width: 45px;
  height: 45px;
  padding: 0;
  margin: 10px 10px 0 0;
  cursor: pointer;
  background: #06b url("../assets/ico-toggle.svg") center center no-repeat;
  border: 0;
  border-radius: 100%;
  opacity: .3;
}
.feature-section .voog-padding-switcher:hover {
  opacity: 1;
}
.feature-section .voog-padding-switcher:focus {
  outline: none;
}
.feature-section .background-color {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.feature-section:not(.section-with-padding) .edy-fef-bottom .edy-fef-add {
  margin-left: 0;
}

.content-area {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
}
.content-area::after {
  clear: both;
  content: "";
  display: table;
}
.content-area h1:first-child,
.content-area h2:first-child,
.content-area h3:first-child,
.content-area h4:first-child,
.content-area h5:first-child,
.content-area h6:first-child,
.content-area p:first-child,
.content-area ul:first-child,
.content-area ol:first-child,
.content-area dl:first-child,
.content-area table:first-child,
.content-area pre:first-child,
.content-area code:first-child,
.content-area iframe:first-child,
.content-area table:first-child,
.content-area form:first-child,
.content-area .edy-positionable-container-left-block:first-child,
.content-area .edy-positionable-container-center-block:first-child,
.content-area .edy-positionable-container-right-block:first-child,
.content-area .edy-texteditor-container-wrapper-left-block:first-child,
.content-area .edy-texteditor-container-wrapper-center:first-child,
.content-area .edy-texteditor-container-wrapper-right-block:first-child {
  margin-top: 0;
}
.content-area h1:last-child,
.content-area h2:last-child,
.content-area h3:last-child,
.content-area h4:last-child,
.content-area h5:last-child,
.content-area h6:last-child,
.content-area p:last-child,
.content-area ul:last-child,
.content-area ol:last-child,
.content-area dl:last-child,
.content-area table:last-child,
.content-area pre:last-child,
.content-area code:last-child,
.content-area iframe:last-child,
.content-area table:last-child,
.content-area form:last-child,
.content-area .edy-positionable-container-left-block:last-child,
.content-area .edy-positionable-container-center-block:last-child,
.content-area .edy-positionable-container-right-block:last-child,
.content-area .edy-texteditor-container-wrapper-left-block:last-child,
.content-area .edy-texteditor-container-wrapper-center:last-child,
.content-area .edy-texteditor-container-wrapper-right-block:last-child {
  margin-bottom: 0;
}
.front-page .content-area h1, .front-page
.content-area h2, .front-page
.content-area h3, .front-page
.content-area h4, .front-page
.content-area h5, .front-page
.content-area h6, .front-page
.content-area p, .front-page
.content-area ul, .front-page
.content-area ol, .front-page
.content-area pre, .front-page
.content-area code, .front-page
.content-area table {
  color: #333;
}
.content-page .content-area h1, .content-page
.content-area h2, .content-page
.content-area h3, .content-page
.content-area h4, .content-page
.content-area h5, .content-page
.content-area h6, .content-page
.content-area p, .content-page
.content-area ul, .content-page
.content-area ol, .content-page
.content-area pre, .content-page
.content-area code, .content-page
.content-area table {
  color: #1b2124;
}
.content-area h1 b,
.content-area h1 strong,
.content-area h2 b,
.content-area h2 strong,
.content-area h3 b,
.content-area h3 strong,
.content-area h4 b,
.content-area h4 strong,
.content-area h5 b,
.content-area h5 strong,
.content-area h6 b,
.content-area h6 strong,
.content-area p b,
.content-area p strong,
.content-area ul b,
.content-area ul strong,
.content-area ol b,
.content-area ol strong,
.content-area pre b,
.content-area pre strong,
.content-area code b,
.content-area code strong,
.content-area table b,
.content-area table strong {
  font-weight: 700;
}
.content-area b,
.content-area strong {
  font-weight: 700;
}
.content-area h1,
.content-area h2,
.content-area h3,
.content-area h4,
.content-area h5,
.content-area h6 {
  margin: 45px 0 35px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}
.site-header .content-area h1:first-child, .site-header
.content-area h2:first-child {
  margin-top: 0;
}
.site-header .content-area h1:last-child, .site-header
.content-area h2:last-child {
  margin-bottom: 0;
}
.content-area h1 {
  font-size: 36px;
}
.content-area h1.content-item-title {
  margin-bottom: 20px;
  text-align: left;
}
@media screen and (max-width: 640px) {
  .content-area h1 {
    font-size: 25px;
  }
}
.content-area.header-content h1 {
  padding: 0;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: none;
}
@media screen and (max-width: 640px) {
  .content-area.header-content h1 {
    font-size: 35px;
  }
}
.content-area.introtext, .content-area.introtext h1, .content-area.introtext h2, .content-area.introtext h3 {
  font-weight: 400;
  text-align: left;
  text-transform: none;
}
.content-area.introtext h1 {
  font-size: 50px;
  line-height: 1.3;
  color: #333;
}
@media screen and (max-width: 768px) {
  .content-area.introtext h1 {
    font-size: 45px;
  }
}
@media screen and (max-width: 480px) {
  .content-area.introtext h1 {
    font-size: 35px;
  }
}
.site-footer .content-area {
  margin: 0;
  font-size: 13px;
  color: #898989;
  text-align: center;
}
.site-footer .content-area h1 {
  margin: 0;
  color: #898989;
  text-transform: none;
}
.site-footer .content-area h2 {
  margin: 0;
  color: #898989;
  text-transform: none;
}
.site-footer .content-area h3 {
  margin: 0;
  color: #898989;
  text-transform: none;
}
.site-footer .content-area blockquote {
  color: #898989;
  text-align: left;
  border-left: 2px solid #898989;
}
.site-footer .content-area a {
  border-bottom: 0;
}
.site-footer .content-area .custom-btn {
  border: 1px solid #333;
}
.content-area h2 {
  font-size: 22px;
}
.content-area.header-content h2 {
  padding: 0;
  font-weight: 700;
  line-height: 1.1;
  text-transform: none;
}
.content-area.introtext h2 {
  font-size: 35px;
  line-height: 1.3;
  color: #333;
}
.content-area h3 {
  font-size: 20px;
}
.content-area.header-content h3 {
  padding: 0;
  font-weight: 700;
  line-height: 1.1;
  text-transform: none;
}
.content-area.introtext h3 {
  font-size: 25px;
  line-height: 1.3;
  color: #333;
}
.content-area.slogan h1,
.content-area.slogan h2,
.content-area.slogan h3, .content-area.slogan h1,
.content-area.slogan h2,
.content-area.slogan h3 {
  letter-spacing: .5px;
  color: #898989;
  text-align: center;
  text-transform: uppercase;
}
.content-area.slogan blockquote, .content-area.slogan blockquote {
  text-align: left;
  border-left: 2px solid #898989;
}
.content-area p,
.content-area ul,
.content-area ol,
.content-area dl {
  font-size: 20px;
}
.site-footer .content-area p, .site-footer
.content-area ul, .site-footer
.content-area ol, .site-footer
.content-area dl {
  margin: 0;
  font-size: 13px;
  color: #898989;
  text-align: center;
}
.content-area.header-content, .content-area.header-content p {
  color: #333;
  text-align: center;
  text-transform: none;
}
.content-area.slogan, .content-area.slogan p {
  font-size: 13px;
  letter-spacing: .5px;
  color: #898989;
  text-align: center;
  text-transform: uppercase;
}
.content-area a {
  color: black;
  text-decoration: none;
}
.content-area a:hover {
  color: black;
}
.content-area .edy-content-social-button,
.content-area a.edys-gallery-grid-item,
.content-area a.edys-gallery-item,
.content-area .edys-gallery-wall-item {
  border-bottom: 0;
}
.content-area .edy-content-social-button:hover,
.content-area a.edys-gallery-grid-item:hover,
.content-area a.edys-gallery-item:hover,
.content-area .edys-gallery-wall-item:hover {
  background: transparent;
}
.content-area .edy-content-social-button:hover {
  opacity: .75;
}
.content-area pre,
.content-area code,
.content-area iframe,
.content-area table,
.content-area form {
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  word-break: normal;
  word-wrap: normal;
}
.content-area pre,
.content-area code {
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.6);
}
.content-area pre {
  padding: 10px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.site-header .content-area pre, .site-footer .content-area pre {
  text-align: left;
  text-transform: none;
  background-color: #f4f4f4;
}
.content-area pre code {
  display: inline;
  padding: 0;
  line-height: inherit;
  white-space: pre;
  background-color: transparent;
}
.content-area code {
  display: inline-block;
  max-width: 100%;
  overflow: auto;
  vertical-align: middle;
  box-sizing: border-box;
}
.content-area blockquote {
  padding-left: 20px;
  margin: 20px 40px 20px 0;
  border-left: 2px solid #333;
}
.content-area.header-content blockquote {
  text-align: left;
}
.content-area iframe {
  max-width: 100%;
}
.map .content-area iframe {
  margin-top: 0;
}
.content-area .custom-btn {
  display: inline-block;
  max-width: 100%;
  min-width: 180px;
  margin: 5px 0;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #333;
  box-sizing: border-box;
}
.content-area .custom-btn:hover {
  opacity: .6;
}
@media screen and (min-width: 1400px) {
  .content-area .custom-btn {
    padding: 11px 15px;
    font-size: 20px;
  }
}
.content-area .edy-positionable-container-center,
.content-area .edy-positionable-container-left-block,
.content-area .edy-positionable-container-right-block,
.content-area .edy-texteditor-container-wrapper-center,
.content-area .edy-texteditor-container-wrapper-left-block,
.content-area .edy-texteditor-container-wrapper-right-block {
  margin-top: 45px;
  margin-bottom: 45px;
}
.content-area .edy-positionable-container-left,
.content-area .edy-texteditor-container-wrapper-left {
  margin-right: 20px;
}
.content-area .edy-positionable-container-right,
.content-area .edy-texteditor-container-wrapper-right {
  margin-left: 20px;
}
.content-area .edy-image-container-with-title::after {
  display: block;
  padding: 4px;
  font-size: 12px;
  line-height: 1.3;
  content: attr(data-title);
}
.content-area .table-container {
  max-width: 100%;
  overflow: auto;
}
.content-area table {
  border-collapse: collapse;
}
.content-area table td,
.content-area table th {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.36);
  border-color: rgba(0, 0, 0, 0.32);
}
.content-area table th {
  font-weight: bold;
}

.content-area .form,
.content-area form {
  clear: both;
}
.content-area .form_fields {
  font-size: 14px;
}
.content-area .edy-fe-field,
.content-area .form_field {
  margin-bottom: 20px;
}
.content-area .edy-fe-label,
.content-area .form_field_label {
  display: block;
  padding-bottom: 5px;
}
.content-area .form_field label {
  display: block;
}
.content-area .form_field_textfield,
.content-area .form_field_textarea,
.content-area .form_field_select {
  width: 30%;
  padding: 4px 7px 2px;
  font-family: inherit;
  line-height: 1.5;
  border-color: rgba(0, 0, 0, 0.05);
  border-style: solid;
  border-width: 1px;
  border-radius: 0;
  outline: none;
  opacity: .87;
  box-sizing: border-box;
}
.content-area .form_field_select {
  position: relative;
  padding: 6px 7px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  vertical-align: bottom;
  background-image: url("../assets/ico-arrow-white.svg");
  background-position: right 10px center;
  background-repeat: no-repeat;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.content-area .form_field_textfield,
.content-area .form_field_textarea,
.content-area .form_field_select,
.content-area .form_field .jq-select {
  max-width: 100%;
}
.comment-form .content-area .form_field_textarea {
  height: 35px;
  min-height: 35px;
  resize: none;
}
.content-area .form_field_size_small,
.content-area .form_field_select {
  width: 280px;
}
.content-area .form_field_size_medium {
  width: 420px;
}
.content-area .form_field_size_large {
  width: 100%;
}
.content-area .comment-form {
  margin-top: 20px;
}
.content-area .form_error,
.content-area .form_notice {
  padding-bottom: 20px;
  font-weight: 400;
}
.content-area .form_error {
  color: #cc0;
}
.content-area .form_notice {
  color: #60a740;
}
.content-area .form_field_with_errors input,
.content-area .form_field_with_errors textarea {
  background-color: rgba(204, 204, 0, 0.2);
}
.content-area .form_field_required .form_field_label::after {
  content: '*';
}
.content-area .form_field_error {
  margin-top: 5px;
  margin-left: 1px;
  color: #cc0;
}
.content-area label {
  cursor: pointer;
}
.content-area label .form_field_checkbox,
.content-area label .form_field_radio {
  display: none;
}
.content-area label .form_field_checkbox + .form_control_indicator::before {
  background: white;
  border-color: #333333;
  border-style: solid;
  border-width: 1px;
}
.form_field_with_errors .content-area label .form_field_checkbox + .form_control_indicator::before {
  border-color: rgba(204, 204, 0, 0.5);
}
.content-area label .form_field_checkbox:checked + .form_control_indicator::before {
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url("../images/ico-check.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 17px 19px;
  border-style: none;
}
.content-area label .form_field_radio + .form_control_indicator::before {
  width: 9px;
  height: 9px;
  border-color: white;
  border-style: solid;
  border-width: 3px;
  outline-width: 1px;
  outline-style: solid;
  outline-color: #333333;
}
.content-area label .form_field_radio:checked + .form_control_indicator::before {
  background-color: #333333;
  opacity: .84;
}
.content-area label .form_control_indicator {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 7px;
}
.content-area label .form_control_indicator::before {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 15px;
  height: 15px;
  content: '';
}

.form_submit input {
  max-width: 100%;
  min-width: 180px;
  margin: 5px 0;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #333;
  border-radius: 0;
  outline: 0;
  box-sizing: border-box;
}
.form_submit input:hover {
  border: 1px solid #333;
  opacity: .6;
}
