/* MAIN STYLESHEET */
html.site-search-opened {
  position: fixed;
  right: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "Futura PT W01 Book", "OpenSans-Regular", "Arial", sans-serif;
  color: #333333;
}

.site-container a {
  text-decoration: none;
  color: #333333;
}
.site-container a img {
  border-style: none;
}
.site-container a:hover {
  background: rgba(255, 240, 127, 0.9);
}

.wrap {
  margin-right: auto;
  margin-left: auto;
}
.site-container .wrap {
  max-width: 1000px;
  padding: 0px 20px;
}

.content-body {
  background: #eeeeee;
}
.front-page .content-body {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.content-body .left {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding: 40px 80px;
  font-size: 50px;
  line-height: 1.3;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  /*@include box-sizing(border-box);*/
}
.content-body .left .inner {
  width: 100%;
}
.content-body .right {
  width: 50%;
}

.content-inner {
  padding: 80px;
}
.content-inner::after {
  clear: both;
  content: "";
  display: table;
}
.content-inner a {
  border-bottom: 5px solid rgba(255, 240, 127, 0.7);
}

.article-header {
  text-align: center;
  padding-bottom: 20px;
}
.article-header .article-title {
  font-size: 20px;
  line-height: 1.2;
  color: #1b2124;
  margin-bottom: 0;
}
.article-header .article-title a {
  border-bottom: none;
}

.article-info {
  font-size: 13px;
  color: #898989;
  text-transform: uppercase;
}

.svg-spritesheet {
  display: none;
}

.menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
.menu-main .menu {
  font-size: 13px;
  text-transform: uppercase;
  line-height: 1;
}
.menu li a {
  color: #898989;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
  padding-right: 3px;
}
.menu li:hover a {
  color: #000000;
}
.menu li.current a {
  color: #000000;
}

.menu-horizontal {
  display: inline-block;
}
@media screen and (min-width: 641px) {
  .menu-horizontal.menu-cms {
    margin-left: 10px;
  }
}
@media screen and (min-width: 641px) {
  .menu-horizontal.menu-cms li {
    margin-right: 10px;
  }
}
@media screen and (min-width: 641px) {
  .menu-horizontal li {
    display: inline-block;
    margin-right: 10px;
  }
}
.menu-horizontal li:last-child {
  margin-right: 0;
}

.menu-popover {
  position: absolute;
  display: none;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.menu-options button {
  margin: 0;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}
.menu-options button:focus {
  outline: none;
}
.menu-options button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

.menu-main {
  display: inline-block;
}

.menu-sub {
  text-align: center;
  padding: 80px 80px 0;
  margin: 0;
  display: block;
}
.menu-sub .menu-cms {
  margin-left: 15px;
}
.menu-sub li {
  font-size: 20px;
  vertical-align: middle;
  margin-right: 15px;
}
.menu-sub a {
  vertical-align: middle;
  border-bottom: 0;
  color: #898989;
  padding: 5px 3px;
}
.menu-sub a:hover {
  color: #000;
}
.menu-sub .selected {
  color: #000;
}

/* Untranslated menu items */
li a.untranslated {
  color: rgba(161, 155, 75, 0.7);
}

.scheme-light .edy-empty-bordered {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
}
.scheme-light .placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.scheme-light .edy-content-element-hover {
  border-color: rgba(255, 255, 255, 0.2);
}
.scheme-light .edy-texteditor-active {
  outline-color: rgba(255, 255, 255, 0.4);
}
.scheme-light .edy-texteditor-active:hover {
  outline-color: rgba(255, 255, 255, 0.63);
}

.edy-tb-iconbtn {
  border-bottom: 0 !important;
}

.edys-gallery-slider .edys-gallery-slider-next,
.edys-gallery-slider .edys-gallery-slider-prev {
  width: 15px !important;
  height: 29px !important;
  opacity: 1 !important;
}

.edys-gallery-slider .edys-gallery-slider-prev {
  background: url("../assets/ico-prev.png") center center no-repeat !important;
}

.edys-gallery-slider .edys-gallery-slider-next {
  background: url("../assets/ico-next.png") center center no-repeat !important;
}

.site-header {
  padding: 10px 25px 75px;
}
.site-header .header-top {
  padding: 5px 0 60px;
  text-align: center;
}
.site-header .header-top .site-options {
  margin-left: 10px;
  display: inline-block;
}
.site-header .header-content {
  text-align: center;
}
.site-header .header-content h1,
.site-header .header-content h2,
.site-header .header-content h3,
.site-header .header-content h4,
.site-header .header-content h5,
.site-header .header-content h6 {
  margin: 0;
  line-height: 1.3;
  font-family: "Futura PT W01 Heavy";
}
.site-header .header-content h1 {
  font-size: 50px;
}
.site-header .slogan {
  text-align: center;
  font-size: 13px;
  color: #898989;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.site-search-btn {
  margin: 0;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  vertical-align: middle;
  height: 19px;
  width: 20px;
  padding: 0;
  margin: 0 0 0 10px;
}
.site-search-btn:focus {
  outline: none;
}
.site-search-btn::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

.site-search {
  position: fixed;
  top: 0;
  right: -280px;
  bottom: 0;
  width: 280px;
  background-color: white;
  -webkit-box-shadow: -9px 0 9px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -9px 0 9px rgba(0, 0, 0, 0.1);
  box-shadow: -9px 0 9px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
}
.site-search-opened .site-search {
  -webkit-transform: translate3d(-280px, 0, 0);
  -moz-transform: translate3d(-280px, 0, 0);
  -ms-transform: translate3d(-280px, 0, 0);
  -o-transform: translate3d(-280px, 0, 0);
  transform: translate3d(-280px, 0, 0);
  background: #fff;
}
@media screen and (min-width: 641px) {
  .site-search-opened .site-search {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
}
.site-search .search-form {
  height: 56px;
  border-bottom: 1px solid #e5e5e5;
}
.site-search .search-input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  display: block;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0px 62px 0px 30px;
  height: 56px;
  font-size: 13px;
  border: none;
}
.site-search .search-input::-webkit-input-placeholder {
  font-weight: 400;
}
.site-search .search-input::-moz-placeholder {
  font-weight: 400;
}
.site-search .search-input:-moz-placeholder {
  font-weight: 400;
}
.site-search .search-input:-ms-input-placeholder {
  font-weight: 400;
}
.site-search .search-input::-webkit-search-decoration, .site-search .search-input::-webkit-search-cancel-button, .site-search .search-input::-webkit-search-results-button, .site-search .search-input::-webkit-search-results-decoration {
  display: none;
}
.site-search .search-input:focus {
  outline: none;
}
@media screen and (max-width: 640px) {
  .site-search .search-input {
    padding: 0px 62px 0px 15px;
  }
}
.site-search .search-clear {
  fill: rgba(0, 0, 0, 0.2);
  display: none;
  position: absolute;
  top: 18px;
  right: 15px;
  cursor: pointer;
}
.not-empty .site-search .search-clear {
  display: block;
}
.site-search .search-clear:hover {
  fill: rgba(0, 0, 0, 0.5);
}
.site-search .not-empty .search-clear {
  display: block;
}
.site-search .search-submit {
  position: relative;
  top: -1px;
}

.voog-search-modal {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  text-align: left;
  box-shadow: none !important;
}
@media screen and (max-width: 640px) {
  .voog-search-modal {
    height: calc(100% - 115px);
    padding-top: 28px;
    width: 100% !important;
  }
}
@media screen and (min-width: 641px) {
  .voog-search-modal {
    height: calc(100% - 57px);
    padding-top: 28px;
    width: 100% !important;
  }
}
.voog-search-modal .voog-search-modal-result h3 {
  font-size: 18px;
  line-height: 1.3;
}
.voog-search-modal .voog-search-modal-result h3:first-child {
  margin: 0;
}
.voog-search-modal .voog-search-modal-result h3 a {
  color: #333333;
  text-decoration: none;
  font-weight: normal;
}
.voog-search-modal .voog-search-modal-result p {
  font-family: "OpenSans-Light", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #898989;
  margin-top: 10px;
}
.voog-search-modal .voog-search-modal-result em {
  font-style: normal;
  background-color: #fff07f;
  font-weight: normal;
}
@media screen and (max-width: 640px) {
  .voog-search-modal .voog-search-modal-result h3 {
    font-size: 16px;
  }
  .voog-search-modal .voog-search-modal-result p {
    font-size: 14px;
  }
}

@media screen and (min-width: 641px) {
  .menu-level-1 li {
    margin-right: 13px;
  }
}

.menu-language-btn {
  margin: 0;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  vertical-align: baseline;
}
.menu-language-btn:focus {
  outline: none;
}
.menu-language-btn::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
.language-flags-enabled .menu-language-btn {
  padding: 12px 16px 13px 15px;
  font-size: 0;
  vertical-align: middle;
}
.language-flags-disabled .menu-language-btn {
  padding: 0px 24px 0 12px;
  font-family: inherit;
  height: 24px;
  font-size: 13px;
  text-transform: uppercase;
  border: 1px solid #cccccc;
  border-radius: 12px;
  margin-right: 0;
  background: url("../assets/arrow_down.png") no-repeat 85% 50%;
  /*&:after {
    position: absolute;
    top: 50%;
    right: 8px;
    display: block;
    width: 0;
    height: 0;
    margin-top: -3px;
    content: "";
    border-style: solid;
    border-width: 6px 3px 0;
    border-color: rgba($color-black, 1) transparent transparent;
  }*/
}
.language-flags-disabled .menu-language-btn:hover {
  opacity: .8;
}
.menu-language-popover-open .menu-language-btn:after {
  border-width: 0 3px 6px 3px;
  border-color: transparent transparent black transparent;
}
.menu-language-btn:before, .menu-language-btn:after {
  top: 5px;
}
.language-flags-enabled .menu-language-btn:before, .language-flags-enabled .menu-language-btn:after {
  left: 5px;
}
.menu-language-btn:hover:after {
  opacity: .8;
}

.menu-language {
  text-align: right;
  padding: 5px 0;
  min-width: 122px;
}
.menu-language-popover-open .menu-language {
  display: block;
  z-index: 10;
}
.menu-language li a {
  font-size: 14px;
  text-decoration: none;
  display: block;
}
.menu-language li a:before, .menu-language li a:after {
  top: 7px;
  right: 6px;
}
.language-flags-enabled .menu-language li a {
  padding: 6px 33px 6px 6px;
}
.language-flags-disabled .menu-language li a {
  padding: 6px 13px 5px;
}
.menu-language .menu-cms li {
  padding: 1px 13px 11px 6px;
}

.menu-options button {
  display: block;
  width: 100%;
  padding: 6px;
  text-align: right;
  font-family: inherit;
  font-size: 14px;
  color: #333333;
  background-color: rgba(0, 0, 0, 0.1);
}
.menu-options button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.menu-options button span {
  display: block;
}
.language-flags-enabled .menu-options .language-flags-enable {
  display: none;
}
.language-flags-disabled .menu-options .language-flags-disable {
  display: none;
}

.ico-flags {
  position: relative;
  background-color: transparent;
}
.language-flags-enabled .ico-flags:before, .language-flags-enabled .ico-flags:after {
  position: absolute;
  display: block;
  height: 15px;
  width: 21px;
  content: '';
}
.ico-flags:before {
  background-color: black;
}
.language-flags-disabled .ico-flags:before {
  display: none;
}
.ico-flags:after {
  opacity: .95;
}
.language-flags-enabled .ico-flags:after {
  background-image: url("../assets/ico-flags.svg");
}

.ico-flag-sq:after {
  background-position: 0 0;
}

.ico-flag-hy:after {
  background-position: -21px 0;
}

.ico-flag-bn:after {
  background-position: -42px 0;
}

.ico-flag-bg:after {
  background-position: -84px 0;
}

.ico-flag-zh:after {
  background-position: -105px 0;
}

.ico-flag-hr:after {
  background-position: -126px 0;
}

.ico-flag-da:after {
  background-position: -147px 0;
}

.ico-flag-cs:after {
  background-position: -168px 0;
}

.ico-flag-et:after {
  background-position: -189px 0;
}

.ico-flag-fi:after {
  background-position: 0 -15px;
}

.ico-flag-fr:after {
  background-position: -21px -15px;
}

.ico-flag-ka:after {
  background-position: -42px -15px;
}

.ico-flag-de:after {
  background-position: -63px -15px;
}

.ico-flag-el:after {
  background-position: -84px -15px;
}

.ico-flag-hu:after {
  background-position: -105px -15px;
}

.ico-flag-is:after {
  background-position: -126px -15px;
}

.ico-flag-hi:after {
  background-position: -147px -15px;
}

.ico-flag-id:after {
  background-position: -168px -15px;
}

.ico-flag-fa:after {
  background-position: -189px -15px;
}

.ico-flag-he:after {
  background-position: 0 -30px;
}

.ico-flag-it:after {
  background-position: -21px -30px;
}

.ico-flag-ja:after {
  background-position: -42px -30px;
}

.ico-flag-ko:after {
  background-position: -63px -30px;
}

.ico-flag-lv:after {
  background-position: -84px -30px;
}

.ico-flag-lt:after {
  background-position: -105px -30px;
}

.ico-flag-ms:after {
  background-position: -126px -30px;
}

.ico-flag-nl:after {
  background-position: -147px -30px;
}

.ico-flag-no:after {
  background-position: -168px -30px;
}

.ico-flag-ur:after {
  background-position: -189px -30px;
}

.ico-flag-fil:after {
  background-position: 0 -45px;
}

.ico-flag-pl:after {
  background-position: -21px -45px;
}

.ico-flag-ro:after {
  background-position: -42px -45px;
}

.ico-flag-ru:after {
  background-position: -63px -45px;
}

.ico-flag-ar:after {
  background-position: -84px -45px;
}

.ico-flag-sk:after {
  background-position: -105px -45px;
}

.ico-flag-sl:after {
  background-position: -126px -45px;
}

.ico-flag-es:after {
  background-position: -147px -45px;
}

.ico-flag-sv:after {
  background-position: -168px -45px;
}

.ico-flag-tr:after {
  background-position: -189px -45px;
}

.ico-flag-uk:after {
  background-position: 0 -60px;
}

.ico-flag-en:after {
  background-position: -21px -60px;
}

.ico-flag-en-gb:after {
  background-position: -63px -60px;
}

.ico-flag-pt:after {
  background-position: -84px -60px;
}

.ico-flag-sr:after {
  background-position: -126px;
}

.site-footer {
  padding-top: 90px;
  padding-bottom: 80px;
  padding-left: 125px;
  padding-right: 125px;
  color: #898989;
  text-align: center;
}
.site-footer .footer-body {
  font-size: 13px;
}
.site-footer .voog-reference {
  color: black;
  opacity: .55;
}
.site-footer .voog-reference:hover {
  opacity: .8;
}

.blog-tags {
  margin-top: 10px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}
.blog-tags .tags-editor {
  text-align: left;
}
.dark-background .blog-tags {
  color: rgba(255, 255, 255, 0.7);
}
.blog-tags .tags-toggle {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.blog-tags .tags-icon {
  position: absolute;
  top: -3px;
  left: 0;
  font-size: 20px;
  line-height: 1.6;
  fill: rgba(0, 0, 0, 0.7);
}
.dark-background .blog-tags .tags-icon {
  fill: rgba(255, 255, 255, 0.7);
}
.blog-tags .tags-title {
  padding: 0px 20px 0 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  text-transform: uppercase;
}
.blog-tags .ico-arrow {
  position: absolute;
  right: 0;
  top: 7px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: black transparent transparent transparent;
}
.blog-tags .ico-arrow.active {
  border-width: 0 5px 8px 5px;
  border-color: transparent transparent black transparent;
}
.dark-background .blog-tags .ico-arrow.active {
  border-color: white transparent transparent transparent;
}
.dark-background .blog-tags .ico-arrow {
  border-color: transparent transparent white transparent;
}
.blog-tags .tags-bottom {
  display: none;
}
.blog-tags .tags-bottom.visible {
  display: block;
}
.blog-tags .menu {
  display: inline-block;
  padding-left: 0;
}
.blog-tags .menu .menu-item {
  display: inline-block;
  margin-top: 5px;
  vertical-align: top;
  line-height: 1;
}
.blog-tags .menu .menu-item:before {
  display: none;
}
.blog-tags .menu .menu-link {
  padding: 2px 5px;
  font-size: 12px;
  text-decoration: none;
  border-radius: 3px;
  color: white;
  background-color: #a4a4a4;
  border-bottom: none;
  line-height: 16px;
}
.blog-tags .menu .menu-link:hover {
  opacity: .7;
}
.blog-tags .menu .menu-link.active {
  color: white;
  background-color: #a4a4a4;
}
.dark-background .blog-tags .menu .menu-link {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Blog news layout */
.blog-news-page .blog-tags {
  margin-top: 0;
  margin-bottom: 20px;
}

.edy-tag-suggestions .edy-tag-suggestion {
  padding: 4px 10px;
  border-bottom: 1px solid #cacaca;
}

#article-comments .comments-title {
  font-size: 20px;
}

.content-area {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  /* Button - custom and form submit */
  /* Table */
  /* Blockquote */
  /* dark-background bold style */
  /* Other links without common link style */
}
.content-area::after {
  clear: both;
  content: "";
  display: table;
}
.content-area h1:first-child,
.content-area h2:first-child,
.content-area h3:first-child,
.content-area h4:first-child,
.content-area h5:first-child,
.content-area h6:first-child,
.content-area p:first-child,
.content-area ul:first-child,
.content-area ol:first-child,
.content-area dl:first-child,
.content-area table:first-child,
.content-area pre:first-child,
.content-area code:first-child,
.content-area iframe:first-child,
.content-area table:first-child,
.content-area form:first-child,
.content-area .edy-positionable-container-left-block:first-child,
.content-area .edy-positionable-container-center-block:first-child,
.content-area .edy-positionable-container-right-block:first-child,
.content-area .edy-texteditor-container-wrapper-left-block:first-child,
.content-area .edy-texteditor-container-wrapper-center:first-child,
.content-area .edy-texteditor-container-wrapper-right-block:first-child {
  margin-top: 0;
}
.content-area h1:last-child,
.content-area h2:last-child,
.content-area h3:last-child,
.content-area h4:last-child,
.content-area h5:last-child,
.content-area h6:last-child,
.content-area p:last-child,
.content-area ul:last-child,
.content-area ol:last-child,
.content-area dl:last-child,
.content-area table:last-child,
.content-area pre:last-child,
.content-area code:last-child,
.content-area iframe:last-child,
.content-area table:last-child,
.content-area form:last-child,
.content-area .edy-positionable-container-left-block:last-child,
.content-area .edy-positionable-container-center-block:last-child,
.content-area .edy-positionable-container-right-block:last-child,
.content-area .edy-texteditor-container-wrapper-left-block:last-child,
.content-area .edy-texteditor-container-wrapper-center:last-child,
.content-area .edy-texteditor-container-wrapper-right-block:last-child {
  margin-bottom: 0;
}
.content-area h1,
.content-area h2,
.content-area h3,
.content-area h4,
.content-area h5,
.content-area h6,
.content-area b,
.content-area strong {
  color: #1b2124;
  font-family: "Futura PT W01 Heavy";
}
.content-area h1,
.content-area h2,
.content-area h3,
.content-area h4,
.content-area h5,
.content-area h6 {
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
}
.content-area h1 {
  font-size: 36px;
}
.content-area h2 {
  font-size: 20px;
}
.content-area h3 {
  font-size: 18px;
}
.content-area pre,
.content-area code {
  padding: 10px;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.02);
}
.content-area pre {
  overflow: auto;
}
.content-area pre code {
  display: inline;
  padding: 0;
  white-space: pre;
  line-height: inherit;
  background-color: transparent;
}
.content-area code {
  display: inline-block;
  vertical-align: middle;
  overflow: auto;
  box-sizing: border-box;
  max-width: 100%;
}
.content-area iframe {
  max-width: 100%;
}
.content-area .edy-positionable-container-center,
.content-area .edy-positionable-container-left-block,
.content-area .edy-positionable-container-right-block,
.content-area .edy-texteditor-container-wrapper-center,
.content-area .edy-texteditor-container-wrapper-left-block,
.content-area .edy-texteditor-container-wrapper-right-block {
  margin-top: 45px;
  margin-bottom: 45px;
}
.content-area .edy-positionable-container-left,
.content-area .edy-texteditor-container-wrapper-left {
  margin-right: 20px;
}
.content-area .edy-positionable-container-right,
.content-area .edy-texteditor-container-wrapper-right {
  margin-left: 20px;
}
.content-area .edy-image-container-with-title:after {
  display: block;
  padding: 4px;
  font-size: 12px;
  line-height: 1.3;
  content: attr(data-title);
}
.content-area .form_submit input {
  border-radius: 0;
  background: none;
  box-sizing: border-box;
  cursor: pointer;
  font-family: "OpenSans-Regular", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin: 5px 0;
  max-width: 100%;
  min-width: 180px;
  outline: 0;
  padding: 0.61em 0.55em;
  text-align: center;
  text-transform: uppercase;
  color: #333;
  border: 1px solid #333;
}
.content-area .form_submit input:hover {
  background: #333;
  border: 1px solid #333;
  color: #fff;
}
.content-area .dark-background .form_submit input {
  border: 1px solid #fff;
  color: #fff;
}
.content-area .dark-background .form_submit input:hover {
  border: 1px solid #fff !important;
  background-color: #fff !important;
  color: #333 !important;
}
.content-area .custom-btn {
  margin: 5px 0;
  display: inline-block;
  padding: 0.61em 0.55em;
  font-size: 18px;
  color: #333;
  line-height: 24px;
  background-color: none;
  cursor: pointer;
  border: 1px solid #333 !important;
  text-transform: uppercase;
  box-sizing: border-box;
  max-width: 100%;
  min-width: 180px;
  text-align: center;
  text-transform: uppercase;
}
.content-area .dark-background .custom-btn {
  margin: 5px 0;
  display: inline-block;
  padding: 0.61em 0.55em;
  font-size: 18px;
  color: #fff;
  line-height: 24px;
  background-color: none;
  cursor: pointer;
  border: 1px solid #fff !important;
  text-transform: uppercase;
  box-sizing: border-box;
  max-width: 100%;
  min-width: 180px;
  text-align: center;
  text-transform: uppercase;
}
.content-area .custom-btn:hover {
  color: #fff;
  background-color: #333 !important;
}
.content-area .dark-background .custom-btn:hover {
  border: 1px solid #fff !important;
  background-color: #fff !important;
  color: #333 !important;
}
.content-area table {
  border-collapse: collapse;
}
.content-area table td {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.36);
  border-color: rgba(0, 0, 0, 0.32);
}
.content-area blockquote {
  margin: 20px 40px 20px 0;
  padding-left: 20px;
  border-left: 2px solid #333;
}
.content-area .dark-background b,
.content-area .dark-background strong {
  color: #fff;
  font-weight: 700;
}
.content-area .edys-gallery-area a,
.content-area .edy-content-social-buttons-list a,
.content-area a.edys-gallery-item {
  border-bottom: none;
}
.content-area .edy-content-social-buttons-list a:hover {
  background: none;
  opacity: .7;
}

.content-area {
  /* Custom checkboxes and radio buttons */
}
.content-area .form_fields {
  margin-top: 20px;
}
.content-area .form_field {
  margin-top: 10px;
}
.content-area .form_field:first-child {
  margin-top: 0;
}
.content-area .form_field label,
.content-area .form_field .form_field_label {
  display: block;
  font-size: 14px;
}
.content-area .form_field .form_field_label {
  font-weight: 700;
}
.content-area .form_field_required .form_field_label:after {
  content: '* \a';
}
.content-area .edy-fe-label {
  font-size: 14px;
  font-weight: 700;
}
.content-area .form_field_textfield,
.content-area .form_field_textarea,
.content-area .form_field_select {
  max-width: 100%;
  box-sizing: border-box;
}
.content-area .form_field_textfield,
.content-area .form_field_textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 7px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.53);
  border-radius: 3px;
  font-size: 14px;
}
.content-area .form_field_textfield.form_field_size_small,
.content-area .form_field_textarea.form_field_size_small {
  width: 280px;
}
.content-area .form_field_textfield.form_field_size_medium,
.content-area .form_field_textarea.form_field_size_medium {
  width: 420px;
}
.content-area .form_field_textfield.form_field_size_large,
.content-area .form_field_textarea.form_field_size_large {
  width: 580px;
}
.content-area .form_field_select.form_field_size_small {
  min-width: auto;
}
.content-area .form_field_select.form_field_size_medium {
  min-width: 124px;
}
.content-area .form_field_select.form_field_size_large {
  min-width: 184px;
}
.content-area .form_submit {
  margin-top: 10px;
}
.content-area .form_error,
.content-area .form_field_error {
  color: #cc0000;
}
.content-area .form_field_error {
  font-size: 14px;
}
.content-area .form_notice {
  color: #60a740;
}
.content-area label {
  cursor: pointer;
}
.content-area label:before {
  display: none;
  content: url("../images/check.png?1");
}
.content-area label .form_field_checkbox,
.content-area label .form_field_radio {
  display: none;
  display: inline-block\9;
}
.content-area label .form_field_checkbox + .form_control_indicator:before {
  background: white;
}
.content-area label .form_field_checkbox:checked + .form_control_indicator:before {
  width: 100%;
  height: 100%;
  background: url("../images/check_small.png?1") no-repeat left bottom;
}
.content-area .backgroundsize label .form_field_checkbox:checked + .form_control_indicator:before {
  width: 100%;
  height: 100%;
  background: url("../images/check.png?1") no-repeat left bottom;
  background-size: 17px 18px;
}
.content-area label .form_field_radio + .form_control_indicator:before {
  width: 9px;
  height: 9px;
  border: 3px solid white;
}
.content-area label .form_field_radio:checked + .form_control_indicator:before {
  background-color: rgba(0, 0, 0, 0.87);
}
.content-area label .form_control_indicator {
  position: relative;
  display: inline-block;
  display: none\9;
  width: 18px;
  height: 18px;
  margin-right: 7px;
  vertical-align: 0;
}
.content-area label .form_control_indicator:before {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 15px;
  height: 15px;
  content: '';
}

/* Front page bg-picker and padding switcher boxes */
.sections {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.feature-section, .search, .sections {
  position: relative;
}

.feature-section .voog-padding-switcher {
  top: 0;
  right: 0;
}

.feature-section .voog-bg-picker-btn {
  top: 0;
  left: 0;
}

.feature-section {
  transition: padding 500ms;
}

.feature-section.section-with-padding {
  transition: padding 500ms;
}

.feature-section:not(.section-with-padding) .edy-fef-bottom .edy-fef-add {
  margin-left: 0;
}

.feature-section {
  min-width: 200px;
  min-height: 400px !important;
  width: 50%;
  float: left;
  box-sizing: border-box;
}

.front-page .left-introtext {
  font-size: 50px;
  line-height: 1.3;
}

.background-color {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.front-page .content .background-color {
  z-index: 0;
}

.wrap_s {
  width: 100%;
}

.container, .wrap_s {
  position: relative;
}

.voog-padding-switcher {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  margin: 10px 10px 0 0;
  width: 45px;
  height: 45px;
  z-index: 9;
  background: #06b url("../assets/ico-toggle.svg") center center no-repeat;
  border-radius: 100%;
  opacity: .3;
}

.feature-section.section-with-padding {
  padding: 80px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

/* Front page dark/light background text colors */
.light-background .content-formatted,
.light-background .content-formatted h1,
.light-background .content-formatted h2,
.light-background .content-formatted h3,
.light-background .content-formatted h4,
.light-background .content-formatted h5,
.light-background .content-formatted h6,
.light-background .content-formatted ol,
.light-background .content-formatted p,
.light-background .content-formatted table,
.light-background .content-formatted ul {
  color: #000;
}

.dark-background .content-formatted,
.dark-background .content-formatted h1,
.dark-background .content-formatted h2,
.dark-background .content-formatted h3,
.dark-background .content-formatted h4,
.dark-background .content-formatted h5,
.dark-background .content-formatted h6,
.dark-background .content-formatted ol,
.dark-background .content-formatted p,
.dark-background .content-formatted table,
.dark-background .content-formatted ul {
  color: #fff;
}

.dark-background .edy-empty-bordered .edy-empty-header {
  color: #fff;
  color: rgba(255, 255, 255, 0.63);
}

.dark-background .edy-empty-bordered {
  border-color: #fff;
  border-color: rgba(255, 255, 255, 0.63);
}

.dark-background .edy-content-social-button,
.dark-background .edy-content-social-placeholder {
  color: #898989;
}

/* Mobile menu */
.mobilemenu-open,
.mobilesearch-open {
  position: fixed;
  overflow: hidden;
  width: 100%;
}
.mobilemenu-open .wrap,
.mobilesearch-open .wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.mobile-menu-toggler {
  display: none;
  width: 43px;
  height: 43px;
  position: absolute;
  top: 31px;
  right: 25px;
}

.mobile-menu-toggler:hover {
  background: none !important;
  opacity: .7;
}

.mobile-menu-toggler span,
.mobile-menu-toggler span:after,
.mobile-menu-toggler span:before {
  position: absolute;
  top: calc(50% - 22px);
  right: 0;
  display: block;
  width: 20px;
  height: 3px;
  content: '';
  background: rgba(0, 0, 0, 0.87);
  border-radius: 5px;
}

#mobile-menu {
  font-family: "OpenSans-Regular", "Helvetica", "Arial", sans-serif;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.mobilemenu-open #mobile-menu {
  display: block;
}
#mobile-menu .mobile-menu-close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 42px;
  height: 42px;
  outline: 0;
}
#mobile-menu .mobile-menu-close:before, #mobile-menu .mobile-menu-close:after {
  position: absolute;
  top: 19px;
  left: 12px;
  display: block;
  width: 20px;
  height: 3px;
  content: '';
  background: #fff;
}

#mobile-menu {
  font-family: "OpenSans-Regular", "Helvetica", "Arial", sans-serif;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow: auto;
  background-color: #2b2b2b;
  background-color: rgba(43, 43, 43, 0.9);
  -webkit-overflow-scrolling: touch;
}

#mobile-menu .mobile-menu-close {
  position: absolute;
  top: 18px;
  right: 15px;
  display: block;
  width: 42px;
  height: 42px;
  outline: 0;
}

#mobile-menu .mobile-menu-close:before,
#mobile-menu .mobile-menu-close:after {
  position: absolute;
  top: 19px;
  left: 12px;
  display: block;
  width: 20px;
  height: 3px;
  content: '';
  background: white;
  border-radius: 3px;
}

#mobile-menu .mobile-menu-close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#mobile-menu .mobile-menu-close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#mobile-menu .navigation-menu,
#mobile-menu .language-menu {
  display: table;
  width: 100%;
  height: 100%;
  word-break: break-all;
}

#mobile-menu .navigation-menu ul,
#mobile-menu .language-menu ul {
  display: table-cell;
  height: 100%;
  padding: 50px 30px;
  list-style-type: none;
  text-align: center;
  vertical-align: middle;
}

#mobile-menu .navigation-menu ul li,
#mobile-menu .language-menu ul li {
  display: block;
  margin: 0;
  padding: 15px 0;
  text-align: center;
}

#mobile-menu .navigation-menu ul a,
#mobile-menu .language-menu ul a {
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  padding: 5px 3px;
}

#mobile-menu .navigation-menu ul a.active,
#mobile-menu .language-menu ul a.active {
  color: #fff;
}

#mobile-menu .navigation-menu ul a:hover,
#mobile-menu .language-menu ul a:hover {
  background: rgba(255, 240, 127, 0.9);
  color: #333;
}

.language-menu-open #mobile-menu .navigation-menu {
  display: none;
}

#mobile-menu .language-menu {
  display: none;
}

.language-menu-open #mobile-menu .language-menu {
  display: table;
}

#mobile-menu.flags-disabled .language-menu-btn {
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  display: inline-block;
  vertical-align: top;
  padding: 11px 9px 17px;
  color: #fff;
}

.mobile-menu-toggler span:before {
  top: 6px;
  left: 0;
}

.mobile-menu-toggler span:after {
  top: 12px;
  left: 0;
}

/* --------------------------
    MEDIA QUERIES
-------------------------- */
@media screen and (min-width: 961px) and (max-width: 1366px) {
  .feature-section {
    min-height: 235px;
  }
}
@media screen and (max-width: 1024px) {
  .content-inner {
    padding: 40px !important;
  }

  .menu-sub {
    padding: 40px 40px 0;
  }

  .content-inner.older-post {
    padding: 10px 40px 40px;
  }
}
@media screen and (max-width: 768px) {
  .mobilemenu-open #mobile-menu, .mobile-menu-toggler {
    display: block;
  }

  .menu-main {
    display: none;
  }

  .site-header .header-top .site-options {
    display: none;
  }

  .site-header .header-content h1 {
    font-size: 40px;
  }

  #mobile-menu.flags-disabled .language-menu-btn {
    top: 18px;
    left: 15px;
    width: auto;
    height: auto;
    display: inline-block;
    vertical-align: top;
    padding: 11px 9px 17px;
    color: #fff;
    text-decoration: none;
    position: absolute;
  }

  .site-header {
    padding-bottom: 30px 25px;
  }

  .site-container .wrap {
    padding: 0;
  }

  .menu-sub {
    padding: 25px 25px 0;
    text-align: left;
  }

  .menu-sub li {
    font-size: 18px;
    margin: 0;
    display: block;
    padding: 10px;
    border-bottom: 1px solid #cacaca;
  }

  .menu-sub li:first-child {
    padding: 0 10px 10px;
  }

  .content-inner, .content-inner.older-post {
    padding: 40px 25px !important;
  }

  .content-area {
    font-size: 18px;
    line-height: 1.3;
  }

  .site-footer {
    padding: 40px 25px;
  }

  .site-search-btn {
    margin: 0;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    vertical-align: middle;
    position: absolute;
    top: 20px;
    left: 25px;
    width: 33px;
    height: 43px;
    outline: 0;
    display: inline-block;
    padding: 0 10px 0 0;
  }
  .site-search-btn:focus {
    outline: none;
  }
  .site-search-btn::-moz-focus-inner {
    padding: 0;
    border-style: none;
  }

  .site-header .header-top {
    padding: 15px 0 25px;
    margin-bottom: 30px;
  }

  .menu-horizontal {
    display: block;
  }
}
@media screen and (min-width: 601px) and (max-width: 960px) {
  .public .voog-reference-enabled .feature-section:last-child {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 960px) {
  .feature-section {
    width: 50%;
  }

  .public .feature-section {
    -webkit-flex: 1 0 50%;
    -moz-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
  }

  .feature-section.section-with-padding {
    padding: 20px;
  }
}
@media screen and (max-width: 400px) {
  .site-header .header-content h1 {
    font-size: 30px;
  }

  .content-area h1 {
    font-size: 25px;
  }

  .content-area h2 {
    font-size: 22px;
  }

  .content-area h3 {
    font-size: 20px;
  }

  .site-search {
    width: 200px;
  }

  .voog-search-modal {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
  }
}
@media screen and (max-width: 600px) {
  .feature-section {
    width: 100%;
  }
}
@media screen and (min-width: 1400px) {
  .content-formatted .custom-btn {
    padding: 11px 15px;
    font-size: 20px;
  }
}
.blog-and-news-page .blog-article {
  padding-bottom: 0 !important;
  padding-top: 40px;
}
.blog-and-news-page .articles-listing {
  text-align: center;
}
.blog-and-news-page .articles-listing .articles-listing-header {
  padding: 40px 0px 15px;
  border-top: 1px solid #cacaca;
}
.blog-and-news-page .articles-listing .blog-article {
  padding: 0;
  margin-bottom: 20px;
}
.blog-and-news-page .articles-listing .blog-article .article-header {
  margin: 0 0 20px;
}
.blog-and-news-page .articles-listing .blog-article .article-date {
  font-size: 13px;
  color: #898989;
  text-transform: uppercase;
  margin-top: 8px;
}
.blog-and-news-page .articles-listing .blog-article .article-title {
  font-size: 18px;
  line-height: 1.4;
  margin: 0;
}
.blog-and-news-page .articles-listing .content-inner a {
  border-bottom: none;
}
@media screen and (max-width: 480px) {
  .blog-and-news-page .articles-listing {
    margin: 0;
  }
  .blog-and-news-page .articles-listing .blog-article .article-date {
    position: static;
  }
  .blog-and-news-page .articles-listing .blog-article .article-title {
    margin: 0;
  }
}
.blog-and-news-page .content-inner.older-post {
  padding: 1px 80px 80px;
}
.blog-and-news-page .articles-listing .blog-article:last-child {
  margin-bottom: 0;
}

.blog-article-page .article-header {
  padding-bottom: 25px;
}
.blog-article-page .article-excerpt.content-area {
  padding-bottom: 15px;
}
.blog-article-page .blog-article {
  padding-bottom: 0;
}
.blog-article-page .comments {
  padding: 80px 80px 0;
}

/* Comment block */
article.comment {
  font-size: 16px;
  margin-bottom: 10px;
}

.comment-date, .comment-author {
  font-style: italic;
  font-weight: 600;
  font-size: 14px;
}

.article-info {
  margin-top: 5px;
}

@media screen and (max-width: 768px) {
  .comments {
    padding: 25px 25px 0 !important;
  }
}
