// CUSTOM MIXINS
@mixin stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin button {
  margin: 0;
  background-color: transparent;
  border-style: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &::-moz-focus-inner {
    padding: 0;
    border-style: none;
  }
}

@mixin input-ios-reset {
  appearance: none;
  border-radius: 0;
}

@mixin inherit-font {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

// Cross-browser hyphenation support (with fallback for Chrome)
@mixin hyphenate($boolean: true) {
  @if $boolean == true {
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
  } @else {
    hyphens: none;
    word-break: normal;
    word-wrap: normal;
  }
}

@mixin aspect-ratio($width, $height) {
  position: relative;

  &::before {
    display: block;
    width: 100%;
    padding-top: ($height / $width) * 100%;
    content: '';
  }

  > .aspect-ratio-inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
