// VARIABLES
// Global variables to use in every .scss files.
// Comment out the "_variables.scss" partial in the "main.scss" file if not used.

// Font family.
$font-main: "Futura PT W01 Book", Arial, sans-serif;
$font-heavy: "Futura PT W01 Heavy", Arial, sans-serif;
$font-light: "Futura PT W01 Light", Arial, sans-serif;
$base-font-size: 18px;


// Basic colors.
$color-black: #000;
$color-white: #fff;
$color-light: #898989;
$color-body: #333;
$bg-color: #eee;


// Specific colors.
$color-highlight: #1b2124;
$color-link-hightlight: #eee077;
$color-yellow: #fff07f;
$color-science-blue: #06b;
$color-error: #cc0;
$color-success: #60a740;
$color-grey: #a4a4a4;
$color-grey1: #cacaca;
$color-lightgrey: #ccc;
$color-lightgrey1: #f4f4f4;
$color-lightgrey2: #e5e5e5;
$color-untranslated: #a19b4b;
$color-paddingblue: #06b;


// Media query breakpoints.
$large: 1400px;
$tablet: 1024px;
$tablet-0: 960px;
$tablet-1: 768px;
$mobile: 640px;
$mobile-1: 480px;
$mobile-2: 400px;
$tiny: 340px;
$micro: 290px;
$nano: 240px;
