// VARIABLES
// Global variables to use in every .scss files.
// Comment out the "_variables.scss" partial in the "main.scss" file if not used.

// Basic colors.
$color-black: #000000;
$color-white: #ffffff;
$color-light: #898989;
$color-body: #333333;
$bg-color: #eeeeee;

// Specific colors.
$color-highlight: #1b2124;
$color-link-hightlight: #eee077;
$color-yellow: #fff07f;
$color-link: #333333;
$color-error: #cc0000;
$color-success: #60a740;

// Media query breakpoints.
$tablet: 1024px;
$tablet-1: 768px;

$mobile: 640px;
$mobile-1: 480px;
