// Styling rules for the site's editable content areas.
// NB! Each editable content-area - {% content %} - should be wrapped in the element that has the "content-area" class.
// NB! Contact forms, image galleries and tables styling rules are located in the separate partials: "_forms.scss", "_gallery.scss" and "_tables.scss".
.content-area {
  @include clearfix;
  @include hyphenate;
  line-height: 1.7;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.6;

  .light-background  {
    color: $color-body;
  }

  .dark-background {
    color: $color-white;
  }

  .form_fields {
    font-size: 14px;
  }

  // Resets the top margin for the first element and bottom margin for the last element in the content area (to prevent unwanted white-space at the beginning and the end of a content-area).
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl,
  table,
  pre,
  code,
  iframe,
  table,
  form,
  .edy-positionable-container-left-block,
  .edy-positionable-container-center-block,
  .edy-positionable-container-right-block,
  .edy-texteditor-container-wrapper-left-block,
  .edy-texteditor-container-wrapper-center,
  .edy-texteditor-container-wrapper-right-block {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  // Front page dark/light background text colors
  .light-background  {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ol,
    p,
    table,
    ul {
      color: $color-body;
    }
  }

  .dark-background {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ol,
    p,
    table,
    ul,
    b,
    strong {
      color: $color-white;
    }
  }

  // Styling rules for the editable content area headings.
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  pre,
  code,
  table {
    color: rgba($color-highlight, 1);
    font-weight: normal;

    b,
    strong {
      font-family: $font-heavy;
      font-weight: 700;
    }
  }

  b,
  strong {
    font-family: $font-heavy;
    font-weight: 700;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    font-family: $font-heavy;
    font-weight: 700;
    margin: 45px 0 35px 0;
  }

  h1,
  h2 {
    .site-header & {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  h1 {
    font-size: 36px;

    @media screen and (max-width: $mobile) {
      font-size: 25px;
    }
  }

  &.header-content h1 {
    font-size: 50px;
    line-height: 1.1;
    font-family: $font-heavy;
    font-weight: 700;
    padding: 0;
    text-transform: none;

    @media screen and (max-width: $mobile) {
      font-size: 35px;
    }
  }

  &.introtext,
  &.introtext h1,
  &.introtext h2,
  &.introtext h3 {
    text-align: left;
    font-family: $font-main;
    font-weight: 400;
    text-transform: none;
  }
  &.introtext h1 {
    font-size: 50px;
    line-height: 1.3;
    color: $color-body;

    @media screen and (max-width: $tablet-1) {
      font-size: 45px;
    }
    @media screen and (max-width: $mobile-1) {
      font-size: 35px;
    }
  }

  .site-footer & {
    h1 {
      margin: 0;
      color: $color-light;
      text-transform: none;
    }
  }

  h2 {
    font-size: 22px;
  }

  &.header-content h2 {
    line-height: 1.1;
    font-family: $font-heavy;
    font-weight: 700;
    padding: 0;
    text-transform: none;
  }

  &.introtext h2 {
    font-size: 35px;
    line-height: 1.3;
    color: $color-body;
  }

  .site-footer & {
    h2 {
      margin: 0;
      color: $color-light;
      text-transform: none;
    }
  }

  h3 {
    font-size: 20px;
  }

  &.header-content h3 {
    line-height: 1.1;
    font-family: $font-heavy;
    font-weight: 700;
    padding: 0;
    text-transform: none !important;
  }

  &.introtext h3 {
    font-size: 25px;
    line-height: 1.3;
    color: $color-body;
  }

  &.slogan {
    h1, h2, h3 {
    text-align: center;
    color: $color-light;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    }
  }

  .site-footer & {
    h3 {
      margin: 0;
      color: $color-light;
      text-transform: none;
    }
  }

  // Styling rules for the editable content area paragraphs, lists and links.
  p,
  ul,
  ol,
  dl {
    font-size: 20px;

    .site-footer & {
      margin: 0;
      font-size: 13px;
      color: $color-light;
      text-align: center;
    }
  }

  .site-footer & {
    margin: 0;
    font-size: 13px;
    color: $color-light;
    text-align: center;
  }

  &.header-content,
  &.header-content p {
    color: $color-body;
    text-transform: none;
    text-align: center;
  }

  &.slogan,
  &.slogan p {
    text-align: center;
    font-size: 13px;
    color: $color-light;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  ul,
  ol,
  dl {
    list-style-position: inside;
    padding: 0;
  }

  a {
    text-decoration: none;
    border-bottom: 5px solid $color-link-hightlight;
    color: rgba($color-black, 1);

    .site-footer & {
        border-bottom: 0;
    }

    &:hover {
      background: $color-link-hightlight;
      color: rgba($color-black, 1);
    }

    .dark-background & {
      color: rgba($color-white, 1);

      &:hover {
        background: $color-link-hightlight;
        color: rgba($color-black, 1);
      }
    }
  }

  .edy-content-social-button,
  a.edys-gallery-grid-item,
  a.edys-gallery-item,
  .edys-gallery-wall-item {
    border-bottom: 0;
  }
  .edy-content-social-button,
  a.edys-gallery-grid-item,
  a.edys-gallery-item,
  .edys-gallery-wall-item {
    &:hover {
    background: transparent;
    }
  }
  .dark-background .edy-content-social-button {
    background: transparent;
  }
  .dark-background .edy-content-social-button:hover {
    background: transparent;
    color: rgba($color-white, 1);
  }

  pre,
  code,
  iframe,
  table,
  form {
    @include hyphenate(false);
  }

  // Code blocks and preformatted content.
  pre,
  code {
    font-size: 12px;
    background-color: rgba($color-white, .6);
  }

  pre {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 10px;

    .site-header &,
    .site-footer & {
      text-align: left;
      background-color: rgba(244, 244, 244, 1);
      text-transform: none;
    }

    code {
      display: inline;
      padding: 0;
      white-space: pre;
      line-height: inherit;
      background-color: transparent;
    }
  }

  code {
    display: inline-block;
    vertical-align: middle;
    overflow: auto;
    box-sizing: border-box;
    max-width: 100%;
  }

  blockquote {
    margin: 20px 40px 20px 0;
    padding-left: 20px;
    border-left: 2px solid $color-body;
  }

  &.slogan blockquote {
    text-align: left;
    border-left: 2px solid $color-light;
  }

  &.header-content blockquote {
    text-align: left;
  }

  .site-footer & {
    blockquote {
      color: $color-light;
      text-align: left;
      border-left: 2px solid $color-light;
    }
  }

  // Styling rules for the editable content area images, embedded videos, preformatted texts, code examples etc.
  iframe {
    max-width: 100%;

    .map & {
      margin-top: 0;
    }
  }

  .custom-btn {
    margin: 5px 0;
    display: inline-block;
    padding: 0.61em 0.55em !important;
    font-size: 18px;
    color: #333;
    line-height: 24px;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #333 !important;
    text-transform: uppercase;
    box-sizing: border-box;
    max-width: 100%;
    min-width: 180px;
    text-align: center;
    text-transform: uppercase;

    .dark-background & {
      color: $color-white;
      border: 1px solid $color-white !important;
    }

    &:hover {
      opacity: 0.6;
      background-color: transparent;

      .light-background & {
        color: $color-black;
        background-color: transparent;
      }
      .dark-background & {
        border: 1px solid $color-white !important;
        color: $color-white !important;
        background-color: transparent;
      }
    }
    @media screen and (min-width: $large) {
      padding: 11px 15px;
      font-size: 20px;
    }
  }


  .edy-positionable-container-center,
  .edy-positionable-container-left-block,
  .edy-positionable-container-right-block,
  .edy-texteditor-container-wrapper-center,
  .edy-texteditor-container-wrapper-left-block,
  .edy-texteditor-container-wrapper-right-block {
    $block-image-margin: 45px;

    margin-top: $block-image-margin;
    margin-bottom: $block-image-margin;
  }

  // Styles for images that are as large as the content area.
  // .edy-positionable-container-maxwidth {
  //   width: auto !important;
  //   max-width: none !important;
  //   margin-right: -200px !important;
  //   margin-left: -200px !important;
  // }

  $floating-image-margin: 20px;

  .edy-positionable-container-left,
  .edy-texteditor-container-wrapper-left {
    margin-right: $floating-image-margin;
  }

  .edy-positionable-container-right,
  .edy-texteditor-container-wrapper-right {
    margin-left: $floating-image-margin;
  }

  // Content area image title
  .edy-image-container-with-title:after {
    &:after {
      display: block;
      padding: 4px;
      font-size: 12px;
      line-height: 1.3;
      content: attr(data-title);
    }
  }

  // Button - custom and form submit
  .form_submit input {
    border-radius: 0;
    background: none;
    box-sizing: border-box;
    cursor: pointer;
    font-family: $font-main;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin: 5px 0;
    max-width: 100%;
    min-width: 180px;
    outline: 0;
    padding: 0.61em 0.55em;
    text-align: center;
    text-transform: uppercase;
    color: #333;
    border: 1px solid #333;
  }
  .form_submit input:hover {
    border: 1px solid #333;
    color: #333;
    opacity: .6;
    background-color: transparent;
  }
  .dark-background .form_submit input {
    border: 1px solid #fff;
    color: #fff;
  }
  .dark-background .form_submit input:hover {
    border: 1px solid #fff !important;
    background-color: #fff !important;
    color: #333 !important;
  }

  // Table
  .table-container {
    max-width: 100%;
    overflow: auto;
  }

  table {
    border-collapse: collapse;

    td,
    th {
      padding: 10px;
      border-color: rgba(0, 0, 0, 0.32);
      border: 1px solid rgba(0, 0, 0, 0.36);
    }

    th {
      font-weight: bold;
    }
  }

}
