// Styling rules for the site's editable content areas.
// NB! Each editable content-area - {% content %} - should be wrapped in the element that has the "content-area" class.
// NB! Contact forms, image galleries and tables styling rules are located in the separate partials: "_forms.scss", "_gallery.scss" and "_tables.scss".
.content-area {
  @include clearfix;
  @include hyphenate;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  color: $color-body;

  // Resets the top margin for the first element and bottom margin for the last element in the content area (to prevent unwanted white-space at the beginning and the end of a content-area).
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl,
  table,
  pre,
  code,
  iframe,
  table,
  form,
  .edy-positionable-container-left-block,
  .edy-positionable-container-center-block,
  .edy-positionable-container-right-block,
  .edy-texteditor-container-wrapper-left-block,
  .edy-texteditor-container-wrapper-center,
  .edy-texteditor-container-wrapper-right-block {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  // Styling rules for the editable content area headings.
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  pre,
  code,
  table {
    .front-page & {
      color: $color-body;
    }

    .content-page & {
      color: rgba($color-highlight, 1);
    }

    b,
    strong {
      font-family: $font-heavy;
      font-weight: 700;
    }
  }

  b,
  strong {
    font-family: $font-heavy;
    font-weight: 700;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 45px 0 35px;
    font-family: $font-heavy;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
  }

  h1,
  h2 {
    .site-header & {
      // scss-lint:disable NestingDepth
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
      // scss-lint:enable NestingDepth
    }
  }

  h1 {
    font-size: 36px;

    &.content-item-title {
      margin-bottom: 20px;
      text-align: left;
    }

    @media screen and (max-width: $mobile) {
      font-size: 25px;
    }
  }

  &.header-content h1 {
    padding: 0;
    font-family: $font-heavy;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.1;
    text-transform: none;

    @media screen and (max-width: $mobile) {
      font-size: 35px;
    }
  }

  &.introtext,
  &.introtext h1,
  &.introtext h2,
  &.introtext h3 {
    font-family: $font-main;
    font-weight: 400;
    text-align: left;
    text-transform: none;
  }

  &.introtext h1 {
    font-size: 50px;
    line-height: 1.3;
    color: $color-body;

    @media screen and (max-width: $tablet-1) {
      font-size: 45px;
    }

    @media screen and (max-width: $mobile-1) {
      font-size: 35px;
    }
  }

  .site-footer & {
    margin: 0;
    font-size: 13px;
    color: $color-light;
    text-align: center;

    h1 {
      margin: 0;
      color: $color-light;
      text-transform: none;
    }

    h2 {
      margin: 0;
      color: $color-light;
      text-transform: none;
    }

    h3 {
      margin: 0;
      color: $color-light;
      text-transform: none;
    }

    blockquote {
      color: $color-light;
      text-align: left;
      border-left: 2px solid $color-light;
    }

    a {
      border-bottom: 0;
    }

    .custom-btn {
      border: 1px solid $color-body;
    }
  }

  h2 {
    font-size: 22px;
  }

  &.header-content h2 {
    padding: 0;
    font-family: $font-heavy;
    font-weight: 700;
    line-height: 1.1;
    text-transform: none;
  }

  &.introtext h2 {
    font-size: 35px;
    line-height: 1.3;
    color: $color-body;
  }

  h3 {
    font-size: 20px;
  }

  &.header-content h3 {
    padding: 0;
    font-family: $font-heavy;
    font-weight: 700;
    line-height: 1.1;
    text-transform: none;
  }

  &.introtext h3 {
    font-size: 25px;
    line-height: 1.3;
    color: $color-body;
  }


  &.slogan,
  &.slogan {
    h1,
    h2,
    h3 {
      letter-spacing: .5px;
      color: $color-light;
      text-align: center;
      text-transform: uppercase;
    }

    blockquote {
      text-align: left;
      border-left: 2px solid $color-light;
    }
  }

  // Styling rules for the editable content area paragraphs, lists and links.
  p,
  ul,
  ol,
  dl {
    font-size: 20px;

    .site-footer & {
      margin: 0;
      font-size: 13px;
      color: $color-light;
      text-align: center;
    }
  }

  &.header-content,
  &.header-content p {
    color: $color-body;
    text-align: center;
    text-transform: none;
  }

  &.slogan,
  &.slogan p {
    font-size: 13px;
    letter-spacing: .5px;
    color: $color-light;
    text-align: center;
    text-transform: uppercase;
  }

  a {
    color: rgba($color-black, 1);
    text-decoration: none;
    border-bottom: 5px solid $color-link-hightlight;

    &:hover {
      color: rgba($color-black, 1);
      background: $color-link-hightlight;
    }
  }

  // scss-lint:disable QualifyingElement
  .edy-content-social-button,
  a.edys-gallery-grid-item,
  a.edys-gallery-item,
  .edys-gallery-wall-item {
    border-bottom: 0;

    &:hover {
      background: transparent;
    }
  }
  // scss-lint:enable QualifyingElement

  .edy-content-social-button {
    &:hover {
      opacity: .75;
    }
  }

  pre,
  code,
  iframe,
  table,
  form {
    @include hyphenate(false);
  }

  // Code blocks and preformatted content.
  pre,
  code {
    font-size: 12px;
    background-color: rgba($color-white, .6);
  }

  pre {
    padding: 10px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    .site-header &,
    .site-footer & {
      text-align: left;
      text-transform: none;
      background-color: rgba($color-lightgrey1, 1);
    }

    code {
      display: inline;
      padding: 0;
      line-height: inherit;
      white-space: pre;
      background-color: transparent;
    }
  }

  code {
    display: inline-block;
    max-width: 100%;
    overflow: auto;
    vertical-align: middle;
    box-sizing: border-box;
  }

  blockquote {
    padding-left: 20px;
    margin: 20px 40px 20px 0;
    border-left: 2px solid $color-body;
  }

  &.header-content blockquote {
    text-align: left;
  }

  // Styling rules for the editable content area images, embedded videos, preformatted texts, code examples etc.
  iframe {
    max-width: 100%;

    .map & {
      margin-top: 0;
    }
  }

  .custom-btn {
    display: inline-block;
    max-width: 100%;
    min-width: 180px;
    padding: .61em .55em;
    margin: 5px 0;
    font-size: 18px;
    line-height: 24px;
    color: $color-body;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid $color-body;
    box-sizing: border-box;

    &:hover {
      background-color: transparent;
      opacity: .6;
    }

    @media screen and (min-width: $large) {
      padding: 11px 15px;
      font-size: 20px;
    }
  }

  .edy-positionable-container-center,
  .edy-positionable-container-left-block,
  .edy-positionable-container-right-block,
  .edy-texteditor-container-wrapper-center,
  .edy-texteditor-container-wrapper-left-block,
  .edy-texteditor-container-wrapper-right-block {
    $block-image-margin: 45px;

    margin-top: $block-image-margin;
    margin-bottom: $block-image-margin;
  }

  $floating-image-margin: 20px;

  .edy-positionable-container-left,
  .edy-texteditor-container-wrapper-left {
    margin-right: $floating-image-margin;
  }

  .edy-positionable-container-right,
  .edy-texteditor-container-wrapper-right {
    margin-left: $floating-image-margin;
  }

  // Content area image title
  .edy-image-container-with-title {
    &::after {
      display: block;
      padding: 4px;
      font-size: 12px;
      line-height: 1.3;
      content: attr(data-title);
    }
  }

  // Table
  .table-container {
    max-width: 100%;
    overflow: auto;
  }

  table {
    border-collapse: collapse;

    td,
    th {
      padding: 10px;
      border: 1px solid rgba($color-black, .36);
      border-color: rgba($color-black, .32);
    }

    th {
      font-weight: bold;
    }
  }

}
