.blog-news-page {

  .blog-article {
    padding-top: 40px;
    &:first-child {
    padding-top: 0;
    }
  }

  .article-title {
    @include hyphenate;
    font-size: 18px;
    line-height: 1.4;
    margin: 0;
    font-family: $font-heavy;
    font-weight: normal;
  }
  .article-date {
    font-size: 13px;
    color: $color-light;
    text-transform: uppercase;
    margin-top: 8px;
  }

  // Archive, list view
  .articles-listing {
    text-align: center;
    .blog-article {
      padding-top: 20px;
    }
    .older-post {
      padding: 1px 80px 80px;
      @media screen and (max-width: $tablet) {
        &.older-post {
          padding: 10px 40px 40px;
        }
      }
      @media screen and (max-width: $tablet-1) {
        padding: 40px 25px;

        &.older-post {
          padding: 40px 25px;
        }
      }
    }
    .articles-listing-header {
      padding: 40px 0px 15px;
      border-top: 1px solid #cacaca;
    }
    .content-inner a {
      border-bottom: none;
    }
    .article-title {
      font-family: $font-main;
    }
    @media screen and (max-width: $mobile-1) {
      margin: 0;
      .blog-article {
        &:last-child {
          margin-bottom: 0;
        }

        .article-date {
          position: static;
        }
        .article-title {
          margin: 0;
        }
      }
    }
  }

}
