.blog-and-news-page {
  .blog-article { padding-top: 40px;}
  .blog-article:first-child { padding-top: 0;}

    .articles-listing {
      text-align: center;
    .articles-listing-header {
      padding: 40px 0px 15px;
      border-top: 1px solid #cacaca;
    }

    .blog-article {
      padding: 0;
      margin-bottom: 20px;
      .article-header {
        margin: 0 0 20px;
      }
      .article-date {
        font-size: 13px;
        color: $color-light;
        text-transform: uppercase;
        margin-top: 8px;
      }
      .article-title {
        font-size: 18px;
        line-height: 1.4;
        margin: 0;
      }
    }
    .content-inner a {
      border-bottom: none;
    }
    @media screen and (max-width: 480px) {
      margin: 0;
      .blog-article {
        .article-date {
          position: static;
        }
        .article-title {
          margin: 0;
        }
      }
    }
  }

  .content-inner.older-post {
    padding: 1px 80px 80px;
  }

  .articles-listing .blog-article:last-child {
    margin-bottom: 0;
  }
}
