.blog-article-page {
  .article-header { padding-bottom: 25px;}
  .article-excerpt.content-area { padding-bottom: 15px;}
}
article.comment { font-size: 16px;margin-bottom: 10px;}
.comment-date, .comment-author { font-style: italic;font-weight: 600;font-size: 14px;}

.article-info { margin-top: 5px;}
